@import "../../../styles/global_style";

.payment-box {
  width: 100%;
  margin: auto;
  padding: 35px 25px;

  .payment-instruction-container {
    min-height: 100px;
    background-color: $white-color;
    border: 1px solid $border-color;
    box-shadow: 1px 1px 1px $border-color;
  }

  .nav-tabs {
    border-bottom: 2px solid $border-color;
    .nav-link {
      background-color: transparent;
      border: none;
      margin-right: 15px;
      text-transform: uppercase;
      font-weight: 600;
      /*padding: 1rem 0.75rem 0.5rem 0.75rem;*/
      padding: 10px 20px;
      height: 40px;
      min-width: 100px;
      font-weight: 600;
      font-size: 14px;
      outline: none;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .nav-link.active  {
      color: $color-orange;
      background-color: transparent;
      border: none;
      border-bottom: 5px solid $color-orange;
    }
    .nav-link:hover {
      color: $color-orange;
      border-bottom: 5px solid $color-orange;
    }
  }

  .badge-success {
    background-color: $color-orange;
  }

  .payment-container {
    .card-body {
      padding-bottom: 0;
      margin: 15px 0 15px 0;
    }
    .divider-payment {
      border-bottom: 3px dashed $color-orange;
      width: 80%;
      height: 6px;
      margin: 20px auto 20px;
    }
    .bank-logo {
      text-align: center;
      width: 125px;
      padding: 5px 0;
      border: 1px solid $light-dark-text-color;
      border-radius: 3px;
      margin: 10px auto 10px 0;
      cursor: pointer;
      &:first-child {
        margin-top: 0;
      }
      &:hover {
        border: 1px solid $md-color-pink;
      }

      &.active-bank {
        border: 1px solid $md-color-pink;
      }
    }



    .bank-account-table {
      border: 1px solid $border-color;
      td.first-col {
        width: 30%;
      }
      td, th {
        border-top: 1px solid $border-color;
        vertical-align: middle;
      }
    }
    .card-header {
      background-color: $color-orange;
      color: $white-color;
      font-size: 18px;
      font-weight: 600;
      padding: 10px 15px;
    }

    .card {
      background-color: transparent;
      .info-row {
        margin-top: 30px;
        margin-bottom: 30px;
      }
      .info-box {
        font-weight: bold;
        padding: 15px;
        border: 1px dashed $color-orange;
        min-width: 100px;
        font-weight: 600;
        font-size: 14px;
        outline: none;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  .payment-step {
    margin-bottom: 5px;
    .payment-step-icon {
      margin-right: 3px;
      color: $color-organe;
    }
  }

  .cart-container {
    min-height: 100px;
    background-color: $white-color;
    border: 1px solid $border-color;
    box-shadow: 1px 1px 1px $border-color;


    .cart-header {
      padding: 10px 15px 0 15px;
    }
    .course-divider {
      border: 1px solid $border-color;
      width: calc(100% - 1.5rem);
      margin: 0.5rem auto;
    }
    .cart-content {
      .course-table-row {
        .pad {
          padding: 0 0.75rem 1rem 0.75rem;
        }
      }
    }
    .cover-image {
      height: 50px;
    }
    .course-title {
      padding-top: 2px;
    }

    .course-tuition-fee {
      height: 55px;
    }

    .course-link {
      cursor: pointer;
    }

    .remove-course:hover {
      color: red;
    }

    .color-red {
      color: red;
    }
    .color-green {
      color: green;
    }

  }

  .no-pad-left {
    padding-left: 0 !important;
  }
  .no-pad-right {
    padding-right: 0 !important;
  }
}



