.warningContainer {
  background-color: #FFFBEE;
  border: 1px solid #FDC100;
  border-radius: 2px;
  padding: 10px 20px;
  margin-bottom: 10px;
  .message {
    margin-left: 10px;
    color: #FDC100;
  }
}
