@import '/../../../../styles/global_style.scss';
.flatBtn {
  border: 10px;
  box-sizing: border-box;
  display: inline-block;
  font-family: Roboto,
  sans-serif; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  text-decoration: none;
  margin: 5px;
  outline: none;
  font-size: inherit;
  font-weight: inherit;
  position: relative;
  line-height: 36px;
  min-width: 65px;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  border-radius: 2px;
  user-select: none;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0);
  text-align: center;
  .primary, .secondary {
    color: $md-color-pink;
    border: 1px solid $md-color-pink;
    padding: 5px;
    &:hover {
      color: $md-color-blue-dark;
      border: 1px solid $md-color-blue-dark;
    }
  }
}

.flatLabel {
  position: relative;
  padding-left: 5px;
  padding-right: 5px;
  vertical-align: middle;
  letter-spacing: 0px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
}
