@import '../global_style.scss';

.filterInputBox {
  width: 100%;
}

.filterActionBlock {
  padding: 0 30px;
  font-size: 14px;
  height: auto;
}

.filterOptionContainer {
  width: 30%;
  white-space: nowrap;
}
