@import '../global_style.scss';

.filterInputBox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 998;
  background-color: $white-background;
}

.filterActionBlock {
  font-size: 14px;
  height: auto;
}

.filterOptionContainer {
  width: 30%;
  white-space: nowrap;
}
