@import "../../../styles/global_style.scss";

.course-detail {
  width: 100%;
  background-color: #fff;
}

.course-action-container {
  position: absolute;
  top: 150px;
  right: 135px;
  z-index: 99;
  background-color: $white-color;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid rgba(0,0,0,.125);
  &.fixed-action-bar {
    position: fixed;
    top: 75px;
  }
}

@media (min-width: 1024px) and (max-width: 1200px) {
  .course-action-container {
    right: 30px;
    width: 250px;
  }
}

@media (max-width: 1024px) {
  .course-action-container {
    right: 10px;
    width: 195px;
  }
}

@media (min-width: $md-lower) {
  .white-mask-normal {
    position: fixed;
    height: calc(#{$box-gap} + 115px + #{$box-gap});
    top: 70px;
    z-index: 499;
    background-color: $color-bg-gray-form;
    width: 100%;
  }
  .white-mask-scrolled {
    position: fixed;
    height: calc(#{$box-gap} + 70px + #{$box-gap});
    top: 60px;
    z-index: 499;
    background-color: $color-bg-gray-form;
    width: 100%;
  }
}

