.fullWidth {
  width: 100%;
}

.noPad {
  padding: 0 !important;
}

.text {
  font-size: 12px;
}

.courseThumb {
  border: 1px solid #000;
}

.courseTitle {
  margin: 0;
  color: #169BD5;
  font-size: 24pt;
}

.courseTutorAvatar {
  text-align: center;
  img {
    width: 75px;
    margin: 0 auto;
  }
}
.courseTutorName {
  margin-top: -10px;
  text-align: center;
}

.noPadRight {
  padding-right: 0 !important;
}

.courseFilter {
  padding-top: 20px;
  padding-bottom: 20px;
}
.basicFilterBlock{
  margin-bottom: 10px;
}
.btnSearch {
  padding: 9px 15px;
}
.btnAdvancedFilter {
  padding: 9px 35px;
}

.advancedFilter {
  input[type="text"] {
    background-color: none;
    padding: 0;
    width: 75px;
  }
  
}

.filterResultBlock {
  background-color: #eaebf0;
  padding: 20px 30px;
  select {
    padding: 3px;
    margin-left: 5px;
    width: 100px;
  }
}

.filterActionBlock {
  padding: 0px 30px;
}

.listResultInfo {
  width: 75%;
  padding-left: 15px;
}

.textTotalResult {
  margin: 7px;
}

.checkAllBtn {
  width: 35px;
  border: 1px solid rgba(48,51,57,.15);
  padding: 5px 5px;
}

.orderBtn {
  width: 60%;
  margin-right: 15px;
}

.displayModeBtn {
  width: 40%;
  margin-right: 15px;
}

.orderDisplayResult {
  width: 25%;
}

.rowPrimary {
  background-color: #e4888a;
  border-color: #e4888a;
  color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
}

.avatarImage {
  width: 115px;
  margin: 15px;
}

.filterSelectBox {
  width: 100px;
}

.courseListContainer {
  background-color: #f4f5f9;
  padding: 20px 30px;
}

