@import '/../../../styles/global_style.scss';

.fullWidth {
  width: 100%;
}

.noPad {
  padding: 0 !important;
}

.noMarginBottom {
  margin-bottom: 0 !important;  
}

.text {
  font-size: 12px;
}

.courseThumb {
  border: 1px solid #000;
}

.courseTitle {
  margin: 0;
  color: $green-text-color;
  font-size: 18px;
}

.courseTutorAvatar {
  text-align: center;
  img {
    width: 75px;
    margin: 0 auto;
  }
}
.courseTutorName {
  margin-top: -10px;
  text-align: center;
}

.noPadRight {
  padding-right: 0 !important;
}

.courseFilter {
  padding-top: 20px;
  padding-bottom: 20px;
}
.basicFilterBlock{
  margin-bottom: 10px;
}
.btnSearch {
  padding: 9px 15px;
}
.btnAdvancedFilter {
  padding: 9px 35px;
}

.advancedFilter {
  input[type="text"] {
    background-color: none;
    padding: 0 5px;
    width: 120px;
  }
  
}

.filterResultBlock {
  background-color: $white-background;
  padding: 20px 30px;
  border-top: 1px solid rgba(48, 51, 57, 0.15);
  border-bottom: 1px solid rgba(48, 51, 57, 0.15);
  select {
    padding: 3px;
    margin-left: 5px;
    width: 100px;
  }
}

.filterInputBox {
  width: 100%;
}

.filterActionBlock {
  padding: 0px 5px;
  font-size: 14px;
  height: 65px;
}

.filterOptionContainer {
  width: 20%;
}

.listResultInfo {
  /* width: 75%; */
  flex: 2;
  padding-left: 15px;
}

.textTotalResult {
  margin: 7px;
}

.checkAllBtn {
  width: 35px;
  border: 1px solid $border-color;
  padding: 5px 5px;
}

.totalCoursesBox {
  flex: 2;
}

.orderBtn {
  /* width: 60%; */
  flex: 5;
  margin-right: 15px;
}

.displayModeBtn {
  /* width: 40%; */
  flex: 3;
  margin-right: 15px;
}

.orderDisplayResult {
  /* width: 25%; */
  flex: 2
}

.rowPrimary {
  background-color: $md-color-pink;
  border-color: $md-color-pink;
  color: $white-color;
  padding-top: 10px;
  padding-bottom: 10px;
}

.avatarImage {
  width: 170px;
  margin: 15px;
}

.filterSelectBox {
  width: 100px;
}

.courseListContainer {
  background-color: $gray-background;
  padding: 20px 30px;
}

.courseSelectCheckbox {
  opacity: 1 !important;
  position: absolute;
  top: 15px;
  right: 15px;
}

.timePickerContainer {
  background-color: $gray-background;
}

.timePickerBox {
  min-width: 120px;
  margin: 10px 10px;
}