@import "../../../styles/global_style.scss";

.course-detail {
  width: 100%;
  background-color: #fff;
}

@media (min-width: $md-lower) {
  .white-mask-normal {
    position: fixed;
    height: calc(#{$box-gap} + 115px + #{$box-gap});
    top: 70px;
    z-index: 499;
    background-color: $color-bg-gray-form;
    width: 100%;
  }
  .white-mask-scrolled {
    position: fixed;
    height: calc(#{$box-gap} + 70px + #{$box-gap});
    top: 70px;
    z-index: 499;
    background-color: $color-bg-gray-form;
    width: 100%;
  }
}

