.fullWidth {
  width: 100%;
}

.noPad {
  padding: 0 !important;
}

.text {
  font-size: 12px;
    color: #9B9B9B;
}

.courseThumb {
  border: 1px solid #000;
}

.courseTitle {
  margin-top: 0;
  color: #169BD5;
}
.courseTutorAvatar {
  text-align: center;
  img {
    width: 75px;
    margin: 0 auto;
  }
}
.courseTutorName {
  margin-top: -10px;
  text-align: center;
}

.noPadRight {
  padding-right: 0 !important;
}



.courseFilter {
  background-color: #f9f9f9;
  padding-top: 20px;
  padding-bottom: 20px;
}
.basicFilterBlock{
  margin-bottom: 10px;
}
.btnSearch {
  padding: 9px 15px;
}
.btnAdvancedFilter {
  padding: 9px 35px;
}

.advancedFilter {
  input[type="text"] {
    background-color: none;
    padding: 0;
    width: 75px;
  }
  
}

.filterResultBlock {
  select {
    padding: 3px;
    margin-left: 5px;
    width: 100px;
  }
}


.rowPrimary {
  background-color: #e4888a;
  border-color: #e4888a;
  color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
}