/*
 General styles
 */
@import "global_style";

@font-face {
  font-family: 'harmonia-regular';
  src: url('../fonts/Coursedy-Harmonia-Regular.woff') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'harmonia-semi-bold';
  src: url('../fonts/Coursedy-Harmonia-SemiBold.woff') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'harmonia-bold';
  src: url('../fonts/Coursedy-Harmonia-Bold.woff') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'serif';
  src: url('../fonts/Coursedy-Serif-Regular.woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  font-family: 'harmonia-regular', sans-serif;
  color: $black-color;
  font-weight: 400;
  background-color: $color-default-bg;
}

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?8x34pp');
  src:  url('../fonts/icomoon.eot?8x34pp#iefix') format('embedded-opentype'),
  url('../fonts/icomoon.ttf?8x34pp') format('truetype'),
  url('../fonts/icomoon.woff?8x34pp') format('woff');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-adduser:before {
  content: "\e900";
}
.icon-arrow:before {
  content: "\e901";
}
.icon-arrowo:before {
  content: "\e902";
}
.icon-banner:before {
  content: "\e903";
}
.icon-calendar:before {
  content: "\e904";
}
.icon-chart:before {
  content: "\e905";
}
.icon-comments:before {
  content: "\e906";
}
.icon-creditcard:before {
  content: "\e907";
}
.icon-edit:before {
  content: "\e908";
}
.icon-heart:before {
  content: "\e909";
}
.icon-label:before {
  content: "\e90a";
}
.icon-medal:before {
  content: "\e90b";
}
.icon-playstore:before {
  content: "\e90c";
}
.icon-question:before {
  content: "\e90d";
}
.icon-scoreboard:before {
  content: "\e90e";
}
.icon-smartphone:before {
  content: "\e90f";
}
.icon-sort:before {
  content: "\e910";
}
.icon-speech:before {
  content: "\e911";
}
.icon-star:before {
  content: "\e912";
}
.icon-tag:before {
  content: "\e913";
}
.icon-time:before {
  content: "\e914";
}
.icon-users:before {
  content: "\e915";
}
.icon-video:before {
  content: "\e916";
}

.margin-btm {
  margin-bottom: 25px;
}

h1 {
  font-size: 60px;
  line-height: 33px;
  font-weight: 200;
}

h2 {
  font-size: 30px;
  line-height: 24px;
  font-weight: 400;
}

p {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}

a {
  cursor: pointer;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

a:hover,
a:active,
a:active,
a:focus {
  outline: none;
  text-decoration: none;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

textarea:focus,
input:focus,
input[type]:focus,
.uneditable-input:focus {
  outline: 0 none
}

textarea:focus,
select:focus,
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
.uneditable-input:focus {
  border-color: $border-color;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 1px $primary-color;
  outline: 0 none;
}

.form-control:focus {
  border-color: $border-color;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 1px $primary-color;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

label.error, span.required, div.error, p.error {
  color: $error-color;
}

.heading span {
  border-bottom: 2px solid $md-color-pink;
}

.heading-line {
  font-size: 24px;
  font-weight: 400;
  color: $md-color-pink;
  border-bottom: 1px solid $border-color;
  padding-bottom: 5px;
  margin: 10px 0 24px 0;
}

[class^='imghvr-'],
[class*=' imghvr-'] {
  position: relative;
  display: inline-block;
  margin: 0px;
  max-width: 100%;
  background-color: rgba(226, 125, 127, 0.60);
  color: #fff;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

/* ----------------------------------
Hover Effect
---------------------------------- */
.imghvr-zoom-in figcaption {
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
}

.imghvr-zoom-in:hover figcaption {
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  filter: alpha(opacity=100);
}

figcaption {
  text-align: center;
}

figcaption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.image-file-preview {
  img {
    width: 30px;
    height: auto;
  }
}

.pdf-image-preview {
  background: #f8f8f8 url("../images/pdf-icon.png") no-repeat;
  width: 30px;
  height: 30px;
}

.doc-image-preview {
  background: #f8f8f8 url("../images/docx-icon.png") no-repeat;
  width: 30px;
  height: 30px;
}

.power-point-icon-preview {
  background: #f8f8f8 url("../images/powerpoint-icon.png") no-repeat;
  width: 30px;
  height: 30px;
  background-size: 30px;
}

.icon-download {
  background: #f8f8f8 url("../images/icon_file_download_black.png") no-repeat;
  width: 24px;
  height: 24px;
}
.icon-upload {
  width: 30px;
  height: 30px;
}

.close-tag-icon {
  background: #f8f8f8 url("../images/close-tag-icon.png") no-repeat;
  width: 24px;
  height: 24px;
}

.interaction-icon {
  background: url("../images/interaction.png") no-repeat;
  background-size: 50px;
  width: 75px;
  height: 50px;
}

.save-money-icon {
  background: url("../images/save_money.png") no-repeat;
  background-size: 50px;
  width: 75px;
  height: 50px;
}


.save-time-icon {
  background: url("../images/save_time.png") no-repeat;
  background-size: 50px;
  width: 75px;
  height: 50px;
}

.teacher-icon {
  width: 100%;
  height: 100%;
  margin: auto;
  &.computer {
    background: url("../images/teacher_computer.png") no-repeat center;
    background-size: 65px;
  }
  &.earning {
    background: url("../images/teacher_earnings.png") no-repeat center;
    background-size: 65px;
  }
  &.connection {
    background: url("../images/teacher_connection.png") no-repeat center;
    background-size: 65px;
  }
}

.done-all-check-icon {
  background: url("../images/baseline_done_white.png") no-repeat center;
  background-size: 36px;
  width: 36px;
  height: 36px;
}

/* ----------------------------------
Rating star styling
---------------------------------- */

.fa-fw {
  color: $md-color-pink;
}

.rate-o .fa-fw {
  color: #ffffff;
}

.top_tutor_rating img {
  width: 16px !important;
  display: inline-block !important;
}

sup {
  top: -.2em;
  color: $md-color-pink;
  font-size: 15px;
}

/* ----------------------------------
Bredcrumbs
---------------------------------- */

.breadcrumb {
  background-color: transparent;
  border-radius: 0;
  position: absolute;
  bottom: -80px;
  padding: 0;
}

.breadcrumb li>a {
  color: $md-color-pink;
  font-size: 13px;
  font-weight: 400;
}

.breadcrumb>.active {
  color: #534051;
  font-weight: 700;
}

.breadcrumb>li+li:before {
  padding: 0 5px;
  color: #534051;
  content: "»";
}


/* dashboard bredcrumb*/

.dashcrumb {
  position: relative;
  bottom: 0 !important;
  left: initial;
  border-radius: 3px;
}

/* ----------------------------------------
Main Navigation bar  - Navbar-default
---------------------------------------- */
/*
  Dropdown styles
 */

.dropdown-menu {
  width: 100% !important;
  padding: 0;
  border: 0;
  border-radius: 0;
  box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.2);
}

.dropdown-menu>li>a {
  border-bottom: 1px solid #f1f1f1;
  padding: 11px 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.nav .open>a,
.nav .open>a:focus,
.nav .open>a:hover {
  background-color: #f5f5f5;
  border-color: $md-color-pink;
}

.navbar-collapse {
  border: 0;
  box-shadow: none;
}

/* Mega menu Dropdown */

.vertical-megamenu ul {
  width: initial !important;
  left: initial !important;
  max-width: initial !important;
  min-width: initial !important;
  min-width: 280px !important;
  border: 1px solid #f2f2f2;
  border-radius: 0;
  margin-left: initial !important;
}

.vertical-megamenu ul:before {
  content: "";
  background: $md-color-pink;
  height: 2px;
  width: 100%;
  position: absolute;
  top: -5px;
  left: 0;
}

@media(min-width: 845px) {
  .vertical-megamenu:hover ul {
    display: block;
  }
}

.yamm .container {
  position: relative;
}

.yamm .dropdown-menu {
  left: auto;
}

.yamm .yamm-content {
  padding: 20px 30px;
}

.yamm .dropdown.yamm-fw .dropdown-menu {
  left: 0;
  right: 0;
}

/* ----------------------------------
Footer
---------------------------------- */

.footer {
  position: relative;
}

.footer .row-padding {
  margin-top: 30px;
  margin-bottom: 40px;
}

.footer-text {
  color: $primary-color;
  font-size: 14px;
  font-weight: 400;
  margin-top: 0;
  line-height: 30px;
}

/* enable hover effect */

.media-team figcaption {
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
  border-radius: 50%;
}

.media-team:hover figcaption {
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  filter: alpha(opacity=100);
}

/* enable hover effect */

.media-team .media-object {
  width: 64px;
  height: 64px;
}

.media-team h4 {
  color: $primary-color;
  font-size: 15px;
  margin: 10px 0 0;
  font-weight: 700;
}

.media-team p {
  color: $md-color-pink;
  font-size: 14px;
  font-style: italic;
  margin: 0;
}

.media-team figure {
  border-radius: 50%;
  float: left;
  margin-right: 10px;
}

.footer .media {
  margin-bottom: 22px;
}

/* ----------------------------------
Homepage >> Advantages
---------------------------------- */

.advantage .media-body {
  padding-left: 15px;
}

.advantage h4 {
  position: relative;
  font-size: 18px;
  font-weight: 700;
  color: #534051;
}

.advantage .seperator {
  border-top: 1px solid $md-color-pink;
  margin: 10px 100px;
}

.advantage a {
  color: #534051;
}

.advantage a:hover {
  color: $md-color-pink;
}

.advantage h4:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
}

.advantage p {
  font-size: 14px;
  font-weight: 400;
  color: #534051;
  line-height: 24px;
}

/* ----------------------------------
Homepage >> Our-Popular
---------------------------------- */

section.our-popular {
  background-color: #f1f1f1;
}

.pop-list {
  position: relative;
  background-color: #ffffff;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.03);
  margin-bottom: 27px;
  min-height: 292px;
  box-sizing: border-box;
}

.pop-list h3 {
  margin-top: 35px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.pop-list ul {
  list-style: square inside url("../images/icn-li.png");
  list-style-position: outside;
  padding-left: 20px;
}

.pop-list ul>li>a {
  color: #534051;
  line-height: 35px;
  font-size: 14px;
  padding-left: 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.pop-list ul>li>a:hover {
  color: $md-color-pink;
}

.pop-list .link-all {
  position: absolute;
  top: 20px;
  right: 20px;
  color: #848484;
  font-size: 12px;
  font-weight: 400;
  border: 2px solid #e4e4e4;
  border-radius: 5px;
  padding: 2px 16px;
}

.pop-list .link-all:hover {
  color: $md-color-pink;
  border-color: $md-color-pink;
}

.mtop7 {
  margin-top: 70px;
}

.mtop4 {
  margin-top: 40px;
}


/* ----------------------------------
Homepage >> Featured-on
---------------------------------- */

.featured-on {
  background: #534051;
}

.featured-on .row {
  margin-top: 50px;
  margin-bottom: 50px;
}

.featured-on h4 {
  margin-top: 45px;
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
}

.featured-on ul>li {
  display: inline-block;
  margin: 0 28px;
  opacity: 0.7;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

.featured-on ul>li:hover {
  opacity: 1;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}


/* ----------------------------------
Homepage >> Lession-cards
---------------------------------- */

section.lession-cards .row-padding {
  margin-bottom: 80px;
}
.lession-card figure {
  width: 100%;
}
.lession-card {
  margin-bottom: 30px;
}

.card {
  position: relative;
}

.card-img {
  height: 260px;
}

.all-c {
  height: 163px;
}

.card-img img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.card-content {
  background-color: #534051;
  padding: 20px;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  -webkit-transform: translateY(38px);
  transform: translateY(38px);
  /*    max-height: 52px;*/
}

.opc {
  opacity: 0.82;
}

.card-title {
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  margin: 0 0 0px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.card-info {
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  margin: 10px 0 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.card:hover .card-content {
  /*    max-height: 200px;*/
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
}

/*
 * Comment Styles
 */

.comment {
  position: relative;
  padding: 20px;
  border-radius: 5px;
  background-color: #f5f5f5;
  border-left: 2px solid $md-color-pink;
  margin-bottom: 30px;
}

.comment:before {
  content: "";
  position: absolute;
  bottom: -18px;
  left: 6%;
  z-index: 1;
  border: solid 10px transparent;
  border-top-color: #f5f5f5;
}

.comment h4 {
  text-align: center;
  color: $md-color-pink;
  font-size: 60px;
  font-weight: 400;
  margin: 0;
  padding-top: 22px;
  line-height: 18px;
}

.comment p {
  color: #534051;
  font-size: 14px;
  font-style: italic;
  margin: 0;
  line-height: 28px;
}

.feedback-block .profile-img {
  width: 80px;
  height: 80px;
  margin-right: 10px;
}

.feedback-block {
  padding: 15px;
}

/* ------------------------------------------------------------
Accordation Styling #About Us Page >>Frequently Asked Questions
------------------------------------------------------------ */
.panel {
  box-shadow: none;
}

.panel-default {
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid #f2f2f2;
}

.panel-default>.panel-heading {
  background: transparent;
  border: 0;
}

.panel-group .panel-heading+.panel-collapse>.list-group,
.panel-group .panel-heading+.panel-collapse>.panel-body {
  border: 0;
  padding: 0;
}

.panel-title {
  color: #534051;
  font-size: 16px;
  font-weight: 700;
  line-height: 28px;
}

.panel-body {
  color: #534051;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

/* blog single post comments */

.tree li {
  list-style-type: none;
  margin: 0;
  /* enable this for nested list */
  /*padding: 10px 50px;*/
  position: relative
}

.comment-profile {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.comments-list h4 {
  color: #534051;
  font-size: 18px;
  font-weight: 400;
  margin: 0;
}

.comments-list .time-stamp {
  color: $md-color-pink;
  font-size: 14px;
  font-weight: 400;
}

.comments-list p {
  color: #534051;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.comments-list .media-body a {
  color: #534051;
  font-size: 14px;
  font-weight: 700;
  float: right;
}

.comments-list .media-body a .fa {
  font-size: 12px;
  color: $md-color-pink;
  margin-right: 3px;
}

.comments-list .media-body a:hover {
  color: $md-color-pink;
}

.comments-list .media-body {
  padding-left: 20px;
}

.comments-list .comment-profile {
  width: 82px;
  height: 82px;
}

.media.comments-list {
  margin-bottom: 30px;
}

.form-search input::-webkit-input-placeholder,
.form-search textarea::-webkit-input-placeholder {
  color: #838282;
}

.form-search input::-moz-placeholder,
.form-search textarea::-webkit-input-placeholder {
  color: #838282;
}

.comment-form input {
  height: $height-field;
  border-radius: 5px !important;
  background-color: #f7f7f7;
  border: 0;
  color: #534051;
  font-size: 14px;
  font-weight: 400;
}

.comment-form textarea {
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  padding-left: 10px;
  border: 0;
  color: #534051;
  padding-top: 10px;
  background-color: #f7f7f7;
  border-radius: 5px;
}

.comment-form.dark-fields input,
.comment-form.dark-fields textarea {
  background-color: #f2f2f2;
}

.comment-form .input-group,.input-group {
  width: 100%;
}

.comment-form .input-group {
  height: 40px;
  margin-bottom: 15px;
  border-radius: 5px;
  color: #333333;
}

.comment-form .form-control {
  height: 40px;
  color: #333333;
  box-shadow: none;
}

.comment-form .btn-link {
  margin-top: 30px;
}

.comment-form .btn-link-dark {
  margin-top: 60px;
  border-radius: 5px;
  color: $white-color;
  background-color: $md-color-pink;
  font-size: 14px;
  font-weight: 400;
  padding: 8px 22px;
}

/* ----------------------------------
Page >>Single Tutor Details
---------------------------------- */

.box-border {
  border: 1px solid #e5e5e5;
  margin: 5px 0;
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.13);
}

.profile-listing {
  width: 123px;
  height: 123px;
  border-radius: 50%;
  margin: 30px;
  margin-bottom: 20px;
}

.user-profile-pic img,
.profile-listing img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

label {
  font-weight: 400;
  margin-bottom: 8px;
  color: $black-color;
}

.popover {
  border: 2px solid $md-color-pink;
  border-radius: 0;
  padding: 10px;
  box-shadow: none;
}

.popover.top {
  min-width: 180px;
  text-align: center;
  color: $primary-color;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}

.popover.top>.arrow {
  display: none;
}

.popover-title {
  background: transparent;
  border: 0;
  font-weight: 700;
  padding: 0;
}

.popover-content {
  padding: 0;
}

[data-style=primary] + .popover {
  border-color: $primary-color;
}

.no-pad {
  padding-right: 0;
  padding-left: 0;
}

/* ----------------------------------
Page >> Login / Register
---------------------------------- */

.sign-block {
  max-width: 498px;
  width: 100%;
  height: auto;
  margin: auto;
  h2 {
    color: #534051;
    font-size: 24px;
    font-weight: 400;
    position: relative;
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 12px;
    margin-bottom: 30px;

    span {
      color: $md-color-pink;
      &.login-title:after {
        width: 120px;
      }
      &:after {
        content: "";
        position: absolute;
        width: 87px;
        height: 4px;
        background: $md-color-pink;
        bottom: -0.5px;
        left: 0;
      }
    }
  }
}

.comment-form input[type=checkbox] {
  height: auto;
}

.fb-btn {
  border-radius: 5px;
  background-color: $facebook-primary-color;
  color: $white-color;
  padding: 13px 30px;
  font-size: 13px;
  font-weight: 400;
  line-height: 44px;
  text-align: center;
}

.fb-btn i {
  padding-right: 15px;
  margin-right: 15px;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}

.fb-btn:hover,
.fb-btn:focus,
.fb-btn:active {
  color: $white-color;
  background: $facebook-hover-color;
}

.signin-left {
  float: right;
  margin-right: 40px;
  width: 100%;
}

.select2-container--default .select2-selection--multiple {
  background-color: $white-color;
  height: $height-field;
  border: 1px solid rgba(48,51,57,.15);
  border-radius: 3px;
  padding-bottom: 0px;
  min-height: $height-field;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
  border-color: $primary-text-color;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered {
  margin-bottom: -8px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
  background-color: #d3d7dc;
  border-radius: 50px;
  border: none;
  color: #646971;
  fill: #646971;
  font-size: 12px;
  height: 26px;
  padding: 0px 8px;
  line-height: 26px;
  margin: 0 8px 0 0;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
  float: right;
  margin-top: 7px;
  margin-right: -4px;
  margin-left: 3px;
  width: 12px;
  height: 12px;
  background: #a9afb6;
  color: #646971;
  line-height: 12px;
  border-radius: 50%;
  text-align: center;
}

select[multiple] {
  background: #f2f2f2;
  border: 0;
  width: 100%;
}

select[multiple] option {
  margin: 5px 0;
  padding: 6px 10px;
}

select[multiple]:focus option:checked {
  background: $primary-color -webkit-linear-gradient(bottom, $primary-color 0%, $primary-color 100%);
  background: $primary-color linear-gradient(0deg, $primary-color 0%, $primary-color 100%);
}

select[multiple]::-webkit-scrollbar-track {
  background-color: #f9f9f9;
}

select[multiple]::-webkit-scrollbar {
  width: 6px;
  background-color: #cfcfcf;
  border-radius: 5px;
}

select[multiple]::-webkit-scrollbar-thumb {
  background-color: #cfcfcf;
  border-radius: 5px;
}

.form-control {
  border-color: $border-color;
  box-shadow: none;
  color: $black-color;
}

@media only screen and (max-width: 992px) {
  .btn-search {
    max-width: 100%;
    border-radius: 5px;
  }
  .home-search li {
    margin-bottom: 15px;
  }
  /*count-block responsive*/
  .hidden-navbtn {
    display: none;
  }
}

/* Small Devices, Tablets */

@media only screen and (max-width: 768px) {
  /* dashboard put bottom */
  h1, .hero-title {
    font-size: 36px;
  }
  h2, .heading {
    font-size: 28px;
    line-height: 24px;
  }
  h3, .heading-line, .sign-block h2 {
    font-size: 22px;
    line-height: 24px;
  }
  .row-padding {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .dashboard-section .row-padding {
    margin-top: 20px;
  }

  .navbar-default .navbar-nav .open .dropdown-menu>li>a {
    color: #e8d5d5;
  }
  .navbar-default .navbar-nav .open .dropdown-menu>li>a:focus,
  .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
    color: $white-color;
  }
  .navbar-nav.sm-collapsible ul .dropdown-menu > li > a {
    padding-left: 40px;
  }
  .navbar-nav.sm-collapsible ul ul .dropdown-menu > li > a {
    padding-left: 60px;
  }
  .dropdown-menu>li>a {
    border-bottom: 1px solid rgba(241, 241, 241, 0.10);
  }
  .nav .open>a {
    background-color: #40343e;
  }
  .load-more {
    margin-top: 25px;
  }
  .footer-head {
    margin-bottom: 10px;
  }
  /* blog cards/ pages - responsive*/
  .box-border {
    border: 0;
    margin: 0;
    margin-bottom: 30px;
  }
  .comments-list .media-body {
    padding: 0;
  }
  .comments-list .media-body a {
    margin: 7px 0px;
  }
  .comments-list h4 {
    font-size: 15px;
    margin-bottom: 20px;
  }
  .comments-list .time-stamp {
    clear: both;
  }
  .comments-list p {
    font-size: 13px;
  }
  .profile-listing {
    width: 90px;
    height: 90px;
    display: block;
    margin: auto;
  }
  .comments-list .startRate {
    margin-left: 0;
    margin-top: 10px;
    display: block;
  }
  /*login page responsive*/
  .signin-left {
    float: none;
    margin-right: 0px;
  }
  .sign-block {
    margin: auto;
  }
  /*login page responsive*/
  .breadcrumb {
    padding: 2px 6px;
    bottom: -66px;
    border: 1px solid #e7e7e7;
    background: #f2f2f2;
  }
  /* offcanvas menu dashboard */
  .offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
    transition: all .25s ease-out;
    z-index: 999;
  }
  .offcanvas-right {
    left: 0;
  }
  .offcanvas-right .sidebar-offcanvas {
    left: -85%;
  }
  .offcanvas-right.active {
    left: 85%;
  }
  .offcanvas.active .dashboard-menu {
    box-shadow: 3px 0 7px -3px #484646;
  }
  /* centering elements of bootstrap media-objects*/
  .advantage {
    margin-bottom: 30px;
  }
  .advantage h4:after {
    left: 0;
    right: 0;
    margin: auto;
  }
  .advantage .media-left {
    display: table;
    float: none;
    margin: 0 auto;
    margin-bottom: 10px;
    padding-right: 0;
  }
  .advantage .media-body {
    text-align: center;
    padding: initial;
  }
  .tutor-profile .media-left {
    display: table;
    float: none;
    margin: 0 auto;
    margin-bottom: 10px;
    padding-right: 0;
  }
  .tutor-profile .media-body {
    padding: initial;
  }
  .tutor-profile {
    border-top: 1px solid #e7e7e7;
  }
  .location,
  .role {
    display: inline-block;
    margin-right: 10px;
  }
  .dashboard-panel {
    padding: 15px;
  }
  .table-responsive {
    padding: 5px;
  }
}

@media only screen and (max-width:600px) {
  h1,
  .hero-title {
    font-size: 28px;
  }
  h2,
  .heading {
    font-size: 25px;
  }
  h3,
  .heading-line,
  .sign-block h2 {
    font-size: 20px;
  }
  .header-margin {
    margin-top: 20px;
  }
  .select2-container--default .select2-selection--single {
    border-radius: 5px! important;
  }
  .hero-tag {
    font-size: 16px;
    letter-spacing: .5px;
  }
}

@media only screen and (max-width: 480px) {
  body {
    font-size: 14px;
  }
  h1,
  .hero-title {
    font-size: 30px;
  }
  h2,
  .heading{
    font-size: 22px;
  }
  h3,
  .heading-line,
  .sign-block h2 {
    font-size: 18px;
  }
  .dashboard-link {
    padding-top: 20px;
    padding-bottom: 11px;
  }

  .dashboard-menu .panel {
    margin: 0;
    margin-bottom: 5px;
  }
  .dashboard-menu .panel-title .fa,
  .dashboard-link .fa {
    margin-right: 20px;
  }
  select[multiple] {
    width: 220px;
  }
}

.dash-block {
  padding: 10px 20px;
  border-radius: 4px;
  margin: 10px 0;
  font-weight: 700;
}

.dash-block p {
  margin: 20px 0;
  color: #ffffff;
  opacity: .8;
  font-weight: 700;
}

.dash-block h2 {
  margin: 20px 0;
  font-weight: 700;
  color: #ffffff;
  font-size: 40px;
}

.dash-block h2 a {
  color: #ffffff;
  font-weight: 700;
  text-decoration: underline;
  font-size: 14px;
}

.pad10 {
  padding-left: 10px;
  padding-right: 10px;
}

.d-block1 {
  background: #8798cc;
  border-top: 6px solid #526394;
}

.d-block2 {
  background: #81ccb8;
  border-top: 6px solid #5aaf98;
}

.d-block3 {
  background: #cc66a5;
  border-top: 6px solid #9a4d7d;
}

.d-block4 {
  background: #ce7057;
  border-top: 6px solid #9a5442;
}

.d-block5 {
  background: #55607e;
  border-top: 6px solid #3c455a;
}

.d-block6 {
  background: #86b6cd;
  border-top: 6px solid #5a7c8c;
}

.d-block7 {
  background: #ccaf81;
  border-top: 6px solid #a08861;
}

.d-block8 {
  background: #cc818b;
  border-top: 6px solid #9a5d65;
}

@media(max-width:768px) {
  .dashboard-link a,
  .dashboard-menu .panel-heading {
    padding: 7px 0;
  }
  .dashboard-link {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.ui-state-default{
  background: #f1f1f1;
  border: 1px solid #e6e6e6;
}

.ui-accordion .ui-accordion-header{
  padding: .6em .5em .6em .7em;
}
textarea.form-control{
  height: auto !important;
}

#footer {
  background: $color-bg-dashboard-menu;
  padding: 0 0 19px 0;
}

#footer, #footer a, #footer p {
  color: #ffffff;
}

#footer a:hover {
  color: $md-color-pink;
}

#footer h5 {
  font-weight: bolder;
  color: #02cbf7;
}

#footer .footer-top {
  background: #424e55;
  padding: 30px 0;
}

#footer .copy-right {
  display: block;
  padding: 15px 0 0 0;
}

#footer .copy-right p {
  display: inline-block;
  margin: 0px;
  line-height: 32px;
  color: #c2c0c0;
  font-size: 14px;
  padding: 0 0 0 0;
}

#footer .footer-link {
  display: inline-block;
  padding: 0 0 0 0;
  margin: 0px;
}

#footer .social-media {
  display: inline-block;
  text-align: right;
  padding: 15px 0 0 0;
  width: 100%;
}

#footer .social-media ul {
  padding: 0px;
  margin: 0px;
  display: inline-block;
}

#footer .social-media ul li {
  list-style: none;
  padding: 0 0 0 20px;
  display: inline-block;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
  color: $md-color-pink;
  background-color: inherit;
}

input:not([type]), input[type="email"],
input[type="number"], input[type="password"],
input[type="tel"], input[type="url"], input[type="text"],
textarea, .form-control {
  background-color: #F0F0EF;
  padding: 19px 10px;
}

/*
  Custom styles
 */

.full-width-input-wrapper input {
  width: 100%;
}

.input-errors {
  color: $error-color;
  font-size: 11px;
}

.flex-auto {
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
}

.flex-stretch {
  flex: 1 1 100%;
}

.flex-g1 {
  flex-grow: 1;
}

.flex-horizontal {
  -webkit-flex-direction: row;
  flex-direction: row;
}

.flex-vertical {
  -webkit-flex-direction: column;
  flex-direction: column;
}

.flex-nowrap {
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.flex-wrap {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.justify-content-left {
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}

.justify-content-right {
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}

.align-self-left {
  -webkit-align-self: flex-start;
  align-self: flex-start;
}

.align-self-right {
  -webkit-align-self: flex-end;
  align-self: flex-end;
}

.flex-col-1 {
  flex: 1;
}

.flex-col-2 {
  flex: 2;
}

.flex-col-3 {
  flex: 3;
}

.flex-col-4 {
  flex: 4;
}

.flex-col-5 {
  flex: 5;
}

.align-self-center {
  -webkit-align-self: center;
  align-self: center;
}


.degree-filename {
  max-width: 180px;
  width: 180px;
  text-overflow: ellipsis;
}

.tag-container {
  border: 1px solid $border-color;
  padding: 10px 20px;
  margin: 10px 0;
}

.tag-box {
  padding: 5px 10px;
  border-radius: 20px;
  background-color: $white-background;
}

.bold {
  font-weight: 700;
}

.block-content {
  padding: 15px 0px;
  margin: 15px 0px;
  border: 1px solid $border-color;
}

.block-title {
  margin-bottom: 20px;
  border-bottom: 1px solid $border-color;
}

.select2-container .select2-search--inline input.select2-search__field {
  margin-top: 0px;
}

.modal-dialog {
  top: 90px
}

.file-name-wrapper {
  max-width: 75%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding-top: 5px;
}

.icon-delete {
  padding-top: 5px;
}

/**
 * Margin Sets
 */

.mr-1 {
  margin-right: 1px !important
}

.mr-3 {
  margin-right: 3px !important
}

.mr-5 {
  margin-right: 5px !important
}

.mr-10 {
  margin-right: 10px !important
}

.mr-15 {
  margin-right: 15px !important
}

.mr-20 {
  margin-right: 20px !important
}

.mr-25 {
  margin-right: 25px !important
}

.mr-30 {
  margin-right: 30px !important
}

.mr-40 {
  margin-right: 40px !important
}

.mr-50 {
  margin-right: 50px !important
}

.ml-1 {
  margin-left: 1px !important
}

.ml-3 {
  margin-left: 3px !important
}

.ml-5 {
  margin-left: 5px !important
}

.ml-10 {
  margin-left: 10px !important
}

.ml-15 {
  margin-left: 15px !important
}

.ml-20 {
  margin-left: 20px !important
}

.ml-25 {
  margin-left: 25px !important
}

.ml-30 {
  margin-left: 30px !important
}

.ml-40 {
  margin-left: 40px !important
}

.ml-50 {
  margin-left: 50px !important
}

.mt-1 {
  margin-top: 1px !important
}

.mt-3 {
  margin-top: 3px !important
}

.mt-5 {
  margin-top: 5px !important
}

.mt-7 {
  margin-top: 7px !important
}

.mt-10 {
  margin-top: 10px !important
}

.mt-15 {
  margin-top: 15px !important
}

.mt-20 {
  margin-top: 20px !important
}

.mt-25 {
  margin-top: 25px !important
}

.mt-30 {
  margin-top: 30px !important
}

.mt-40 {
  margin-top: 40px !important
}

.mt-50 {
  margin-top: 50px !important
}

.mt-60 {
  margin-top: 60px !important
}

.mt-70 {
  margin-top: 70px !important
}

.mt-80 {
  margin-top: 80px !important
}

.mt-90 {
  margin-top: 90px !important
}

.mb-1 {
  margin-bottom: 1px !important
}

.mb-5 {
  margin-bottom: 5px !important
}

.mb-10 {
  margin-bottom: 10px !important
}

.mb-15 {
  margin-bottom: 15px !important
}

.mb-16 {
  margin-bottom: 16px !important
}

.mb-20 {
  margin-bottom: 20px !important
}

.mb-25 {
  margin-bottom: 25px !important
}

.mb-30 {
  margin-bottom: 30px !important
}

.mb-40 {
  margin-bottom: 40px !important
}

.mb-50 {
  margin-bottom: 50px !important
}

.mb-60 {
  margin-bottom: 60px !important
}

.mb-70 {
  margin-bottom: 70px !important
}

.mb-80 {
  margin-bottom: 80px !important
}

.mv-5 {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}

.mv-10 {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.mv-15 {
  margin-top: 15px !important;
  margin-bottom: 15px !important;
}

.mv-20 {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}

.mv-30 {
  margin-top: 30px !important;
  margin-bottom: 30px !important;
}

.mv-40 {
  margin-top: 40px !important;
  margin-bottom: 40px !important;
}

.mv-50 {
  margin-top: 50px !important;
  margin-bottom: 50px !important;
}

.mv-70 {
  margin-top: 70px !important;
  margin-bottom: 70px !important;
}

.mh-5 {
  margin-left: 5px !important;
  margin-right: 5px !important;
}

.mh-10 {
  margin-left: 10px !important;
  margin-right: 10px !important;
}

.mh-15 {
  margin-left: 15px !important;
  margin-right: 15px !important;
}

.mh-20 {
  margin-left: 20px !important;
  margin-right: 20px !important;
}

.mh-30 {
  margin-left: 30px !important;
  margin-right: 30px !important;
}

.mh-40 {
  margin-left: 40px !important;
  margin-right: 40px !important;
}

.mh-50 {
  margin-left: 50px !important;
  margin-right: 50px !important;
}

.mh-70 {
  margin-left: 70px !important;
  margin-right: 70px !important;
}

.margin-5 {
  margin: 5px !important;
}

.margin-10 {
  margin: 10px !important;
}

.margin-15 {
  margin: 15px !important;
}

.margin-20 {
  margin: 20px !important;
}

.margin-25 {
  margin: 25px !important;
}

.no-magin,
ul.no-margin,
.margin-0 {
  margin: 0 !important;
}

.no-mt,
.mt-0 {
  margin-top: 0 !important;
}

.no-mb,
.mb-0 {
  margin-bottom: 0 !important;
}

.no-ml,
.ml-0 {
  margin-left: 0 !important;
}

.no-mr,
.mr-0 {
  margin-right: 0 !important;
}

/**
 * Padding Sets
 */

.pr-5 {
  padding-right: 5px !important;
}

.pr-10 {
  padding-right: 10px !important;
}

.pr-15 {
  padding-right: 15px !important;
}

.pr-20 {
  padding-right: 20px !important;
}

.pr-30 {
  padding-right: 30px !important;
}

.pr-40 {
  padding-right: 40px !important;
}

.pr-50 {
  padding-right: 50px !important;
}

.pr-0,
.no-pr {
  padding-right: 0 !important;
}

.pl-5 {
  padding-left: 5px !important;
}

.pl-10 {
  padding-left: 10px !important;
}

.pl-15 {
  padding-left: 15px !important;
}

.pl-20 {
  padding-left: 20px !important;
}

.pl-30 {
  padding-left: 30px !important;
}

.pl-40 {
  padding-left: 40px !important;
}

.pl-50 {
  padding-left: 50px !important;
}

.pl-0, .no-pl {
  padding-left: 0 !important;
}

.pt-5 {
  padding-top: 5px !important;
}

.pt-10 {
  padding-top: 10px !important;
}

.pt-15 {
  padding-top: 15px !important;
}

.pt-20 {
  padding-top: 20px !important;
}

.pt-25 {
  padding-top: 25px !important;
}

.pt-30 {
  padding-top: 30px !important;
}

.pt-40 {
  padding-top: 40px !important;
}

.pt-50 {
  padding-top: 50px !important;
}

.pt-60 {
  padding-top: 60px !important;
}

.pt-70 {
  padding-top: 70px !important;
}

.pt-80 {
  padding-top: 80px !important;
}

.pt-0,
.no-pt {
  padding-top: 0px !important;
}

.pb-5 {
  padding-bottom: 5px !important;
}

.pb-10 {
  padding-bottom: 10px !important;
}

.pb-15 {
  padding-bottom: 15px !important;
}

.pb-20 {
  padding-bottom: 20px !important;
}

.pb-30 {
  padding-bottom: 30px !important;
}

.pb-40 {
  padding-bottom: 40px !important;
}

.pb-50 {
  padding-bottom: 50px !important;
}

.pb-60 {
  padding-bottom: 60px !important;
}

.pb-70 {
  padding-bottom: 70px !important;
}

.pb-80 {
  padding-bottom: 80px !important;
}

.pb-0,
.no-pb {
  padding-bottom: 0 !important;
}

.padding-5 {
  padding: 5px !important;
}

.padding-10 {
  padding: 10px !important;
}

.padding-15 {
  padding: 15px !important;
}

.padding-20 {
  padding: 20px !important;
}

.padding-30 {
  padding: 30px !important;
}

blockquote {
  border-left: 3px solid $border-color-two;
  margin-bottom: 5px;
  margin-top: 5px;
  padding-left: 16px;
  margin: 5px 0 10px 0;
  padding: 10px 10px 10px 15px;
  background-color: $gray-background;
}

.lesson-col-no-text {
  background-color: #534051;
  color: #ffffff;
}

.lesson-col-text {
  background-color: #534051;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.index-lesson-col {
  min-width: 20px;
  width: 10%;
  border-left: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
}

.lesson-name-col {
  width: 25%;
  border-left: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
  padding: 5px 0;
}

.lesson-per-col {
  min-width: 30px;
  width: 20%;
  border-left: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
  padding: 5px 0;
}

.lesson-del-col {
  min-width: 20px;
  width: 10%;
  border-left: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
}

.lesson-add-col {
  width: 35%;
  border-left: 1px solid $border-color;
  border-right: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
}

.full-with {
  width: 100%;
}

.modal-content {
  border-radius: 0;
}

.modal-header {
  color: $black-text-color;
  border-radius: 0;
}

.close {
  color: #ffffff;
  opacity: 1;
}

.btn-default {
  padding: 8px 28px;
  font-size: 16px;
}

.btn-default.btn-small {
  font-size: 14px;
  padding: 6px 12px;
}

.full-width-input-wrapper input {
  width: 100%;
}

.input-errors {
  color: #ac2925;
  font-size: 11px;
}

.pad-top-10 {
  padding-top: 10px;
}

.react-datepicker__input-container, .react-datepicker-wrapper {
  display: block;
}

.react-datepicker__day-name, .react-datepicker__day, .react-datepicker__time-name {
  width: 3.5rem;
  height: 3rem;
  padding-top: 7px;
  font-size: 14px;
  color: $dark-text-color;
}

.react-datepicker__day--keyboard-selected, .react-datepicker__day--selected {
  color: white !important;
  background-color: $md-color-pink;
}

.react-datepicker__current-month {
  font-size: 14px;
  color: $dark-text-color;
}

.select2 {
  min-width: inherit;
  width: 100% !important;
}

.inline-form .fa-pencil {
  opacity: 0;
}

.inline-field:hover {
  cursor: pointer;
}

.inline-field:hover .fa-pencil {
  opacity: 1;
}

.inline-edit {
  margin-left: 10px;
}

.inline-edit:hover {
  cursor: pointer;
}

.margin-left-10 {
  margin-left: 10px;
}

.tutor-title {
  margin-top: 5px;
  margin-bottom: 15px;
}

.dart-text {
  color: #959595;
  margin: 10px 0;
}

.inline-block {
  display: inline-block;
}

.padd-top-50 {
  padding-top: 50px;
}

.react-datepicker-popper {
  z-index: 99999;
}

.avatar-image {
  width: 268px;
}

.datepicker-box {
  width: 180px;
}

.red {
  color: #FF0000;
}

.course-item-wrapper {
  min-height: 350px;
  width: 275px;
  margin: 20px;
}

.course-container {
  cursor: pointer;
  color: #9B9B9B;
}

.course-container:hover {
  cursor: pointer;
  color: #ffffff;
  background-color: rgba(226, 125, 127, 0.60);
  transform: translateZ(0);
  transition: all 0.35s ease;
}

.user-detail hr {
  margin-top: 10px;
  margin-bottom: 10px;
}

.inline-form-control {
  display: block;
  width: 100%;
  padding: 6px 12px;
  line-height: 1.42857143;
  border: 1px solid $border-color;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.lesson-section-seperator {
  border-bottom: 1px solid $border-color;
  padding: 15px;
}

.section-title.collapsed:after, .dashboard-parent-tab.collapsed::after {
  content: '\F105';
  color: #b9b9b9;
}

.section-title:after, .dashboard-parent-tab::after {
  content: '\F107';
  color: $md-color-pink;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 16px;
  margin-top: 6px;
  cursor: pointer;
}

.inline-form {
  display: flex;
  flex-direction: column;
}

.creation-course-title {
  width: 100%;
}

.creation-course-title .inline-form-control {
  height: 34px;
}

.checkbox-group .form-control {
  padding: 5px;
}

.default-field .form-group {
  margin-bottom: 10px;
}

.select-course-fee {
  width: 300px;
  padding: 0 15px;
  .form-group {
    margin-bottom: 7px;
  }
}

.md-check-box-field {
  min-width: 135px;
  margin: 5px;
}

.md-check-box-field:hover .form-control, .lg-check-box-field:hover .form-control {
  border: 1px solid $md-color-pink;
}

.lg-check-box-field {
  min-width: 200px;
  margin: 5px;
}

.form-control {
  border-radius: 3px;
  box-shadow: none;
  border-color: #CCC;
  font-size: 13px;
  height: 32px;
}

.form-control:focus {
  border-color: $primary-color;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.quill-form-control {
  .ql-container.ql-snow {
    height: 250px;
  }
}

input:not([type]), input[type="email"], input[type="number"], input[type="password"], input[type="tel"],
input[type="url"], input[type="text"], textarea, .form-control {
  background-color: #ffffff;
  line-height: 1.75em;
  border-radius: 3px;
  border: 1px solid rgba(48, 51, 57, .15);
  font-size: 14px;
  padding: 5px 10px;

  &.error {
    border: 1px solid $error-color;
  }
}

.footer-section {
  .footer-section__loadmore {
    text-align: center;
  }
}

.btn__load-more {
  border-radius: 2px;
  background-color: $md-color-pink;
  border: 2px solid $md-color-pink;
  padding: 10px 24px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  margin: 19px 5px;
}

.margin30 {
  margin-bottom: 30px;
}

.free-course {
  width: 100%;
  padding-top: 35px;
  .form-group {
    margin-bottom: 5px;
  }
}

.input-without-border {
  width: 100%;
  min-height: 30px;
}

.input-without-border input {
  border: none;
}

.option-item {
  cursor: pointer;
  padding: 5px 20px;
  a {
    width: 100%;
    display: block;
  }
}

.option-item:hover {
  background-color: #e7e7e7;
  a {
    color: #169BD5;
  }
}

.option-item.selected {
  background-color: #eaebf0;
  cursor: not-allowed;
}

.option-item a {
  color: #000000;
}

.md-number-field {
  width: 150px;
}

.group-header {
  padding: 5px;
  border-bottom: 1px solid rgba(48, 51, 57, 0.15);
}

/*
 * Stripe
 */

.Checkout {
  margin: 0 15px;
  max-width: 800px;
  box-sizing: border-box;
  padding: 0 5px;

  label {
    color: #6b7c93;
    font-weight: 300;
    letter-spacing: 0.025em;
    display: block;
  }
}

.StripeElement {
  display: block;
  margin: 10px 0 20px 0;
  max-width: 500px;
  padding: 10px 14px;
  box-shadow: rgba(50, 50, 93, 0.14902) 0 1px 3px, rgba(0, 0, 0, 0.0196078) 0 1px 0;
  border-radius: 4px;
  background: white;
}

.StripeElement--focus {
  box-shadow: rgba(50, 50, 93, 0.109804) 0 4px 6px, rgba(0, 0, 0, 0.0784314) 0 1px 3px;
  -webkit-transition: all 150ms ease;
  transition: all 150ms ease;
}

.StripeElement.PaymentRequestButton {
  padding: 0;
}

.course-edit-free .form-group {
  width: 100%;
}

.course-free .form-group {
  width: 100%;
  margin-top: 36px;
}

.suggestion-line {
  color: $black-color;
  .header {
    font-size: 18px;
    margin: 8px 0;
  }
  .sub-header {
    font-size: 16px;
    color: $color-light-black-text;
  }
}

.suggestion-line.not-found {
  height: 60px;
  text-align: center;
}

.show-loading .loading-spin-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9090;
  background-color: #f1f1f1;
  opacity: 0.5;
}

.show-loading .loading-spin-wrapper .loading-spin {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100px;
  height: 100px;
  margin: -50px 0 0 -50px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #3498db;
  -webkit-animation: xLoaderSpin 2s linear infinite;
  -moz-animation: xLoaderSpin 2s linear infinite;
  -ms-animation: xLoaderSpin 2s linear infinite;
  -o-animation: xLoaderSpin 2s linear infinite;
  animation: xLoaderSpin 2s linear infinite;
}

.show-loading .loading-spin-wrapper .loading-spin:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #e74c3c;
  -webkit-animation: xLoaderSpin 3s linear infinite;
  -moz-animation: xLoaderSpin 3s linear infinite;
  -ms-animation: xLoaderSpin 3s linear infinite;
  -o-animation: xLoaderSpin 3s linear infinite;
  animation: xLoaderSpin 3s linear infinite;
}

.show-loading .loading-spin-wrapper .loading-spin:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #f9c922;
  -webkit-animation: xLoaderSpin 2s linear infinite;
  -moz-animation: xLoaderSpin 2s linear infinite;
  -ms-animation: xLoaderSpin 2s linear infinite;
  -o-animation: xLoaderSpin 2s linear infinite;
  animation: xLoaderSpin 2s linear infinite;
}

@keyframes xLoaderSpin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.main-content {
  width: 100%;
}

div[data-reactroot] {
  display: flex;
  flex-grow: 1;
}

.course-filter-container {
  height: auto;
  position: relative;

  ul {
    list-style-type: none;
    padding-left: 0;
    margin-top: 5px;
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 992px) {
  .course-filter-container {
    margin-top: 0px;
  }
}

.course-thumb {
  height: 200px;
}

.pagination>li>a, .pagination>li>span {
  width: 36px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  padding: 0;
  color: $primary-text-color;
  font-size: 1.25rem;
  @media (max-width: $sm-lower) {
    width: 38px;
    height: 38px;
    line-height: 38px;
    font-size: 16px;
  }
}

.page-item.active .page-link {
  z-index: 1;
  cursor: default;
  pointer-events: none;
  background-color: $primary-text-color;
  color: $white-color;
  border-color: $primary-text-color;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
  z-index: 3;
  cursor: default;
  pointer-events: none;
  background-color: $primary-text-color;
  color: $white-color;
}

.page-link:hover {
  background-color: $color-light-color;
  color: $primary-text-color;
}

.course-filter-form.inline-form {
  margin: 0;
  width: 100%;
}

.loading-mask-container {
  position: relative;
}

switch {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.not-found-result {
  width: 100px;
  height: 100px;
}

.waiting-container {
  min-height: 250px;
}

button {
  box-shadow: none;
  &:hover {
    box-shadow: none;
  }
}

.inline-form.lesson-detail-form {
  margin-bottom: 0;
}

.uploaded-degrees-container {
  i.fa{
    color: $dark-text-color;
  }
}

.course-details-form {
  .control-label, .pre-wrap {
    white-space: nowrap;
  }
}

.card-header {
  background-color: $gray-background;
}

.modal {
  z-index: 9999;
}

.modal-content {
  border: none;
}

.course-title input {
  font-size: 30px;
}

.rating-wrapper {
  display: inline-block;
  font-size: 12px;
  letter-spacing: 1px;
  margin: 0 0 5px;
  line-height: 1.2;
  .rating-item {
    display: inline-block;
    .rating-symbol {
      display: inline-block;
      position: relative;
      .fa {
        font-size: 12px;
        color: $rating-item-color;
      }
    }
  }
}

.search-icon {
  width: 25px;
  min-width: 25px;
  height: 25px;
  min-height: 25px;
  margin: 0;
}

.seperate-filter-line {
  border-left: 1px solid $color-border;
}

.advanced-filter-block {
  position: relative;
  display: flex;
  flex: 2;
}

.advanced-filter-btn {
  display: none;
}

.optimize-filters {
  .navbar-collapse {
    &.show {
      background-color: $white-color;
      z-index: 1002;
    }
  }
}

.optimize-filters {
  display: none ;
}

.course-large-title .default-field {
  justify-content: center;
  flex: 1 1 100%;
}

@media only screen and (max-width: 768px) {
  .advanced-filter-block {
    display: none;
  }

  .advanced-filter-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    a {
      margin: 10px 0;
    }
    .filter-toggler {
      position: relative;
      .filter-toggler-icon {
        position: absolute;
        top: 0;
      }
    }
  }

  .optimize-filters {
    display: flex;
    border-top: 1px solid $color-border;
  }

  .seperate-filter-line {
    border: none;
  }
}

.expand-icon {
  display: inline-block;
  color: rgba(0, 0, 0, 0.87);
  fill: currentcolor;
  height: 18px;
  width: 18px;
  user-select: none;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}

#advanceFilterCollapse {
  padding: 15px 0;
}

.chip-container.is-active {
  border: 0 solid $color-bg-chip-active;
  background-color: $color-bg-chip-active;
}

.is-active > .delete-icon-chip {
  background-color: $color-bg-icon-delete-chip;
}

.basic-filter-container.is-collapsed {
  overflow: hidden;
  flex-wrap: wrap;
  min-height: 36px;
  max-height: 36px;
}

.basic-filter-container.is-focused {
  flex-wrap: wrap;
}

.filter-selection {
  white-space: nowrap;
  .hidden-filter-link {
    min-width: 145px;
  }
}

.chip-container {
  margin: 1px 5px;
}

/* ----------------------------------
Placeholder Style Sheet
---------------------------------- */
.timeline-item {
  position: relative;
  width: 100%;
  min-height: 200px;
  z-index: 99;
}

@keyframes placeHolderShimmer{
  0%{
    background-position: -468px 0
  }
  100%{
    background-position: 468px 0
  }
}

.animated-background {
  background-color: $white-color;
  border: 1px solid;
  border-color: #e5e6e9 #dfe0e4 #d0d1d5;
  border-radius: 3px;
  padding: 12px;
}

.public-course-list-container .animated-background {
  padding: 12px 65px;
}

.background-masker {
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: #f6f7f8;
  background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
  background-size: 800px 104px;
  position: relative;
  margin: 10px;
}

.course-details-container .background-masker {
  margin: 20px 10px;
}

.course-details-container .background-masker.sm-text-placeholder {
  margin: 10px;
}

/* Every thing below this is just positioning */
.background-masker.image-placeholder {
  height: 90%;
  max-height: 200px;
  width: 100%;
  max-width: 300px;
  padding: 10px;
  position: relative;
}

.dashboard-profile-placeholder {
  padding: 15px;
}

.image-placeholder.course-cover-image-placeholder {
  height: 500px;
  max-width: 100%;
}

.image-placeholder.avatar-user {
  height: auto;
  width: auto;
  max-width: 100%;
  max-height: 100%;
  min-height: 75px;
}

.image-placeholder.avatar-teacher-detail {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin: 0;
}

.background-masker.lg-text-placeholder {
  height: 20px;
  border: none;
  border-radius: 10px;
  position: relative;
}

.background-masker.sm-text-placeholder {
  height: 10px;
  border: none;
  border-radius: 5px;
  position: relative;
  min-width: 60px;
  margin: 5px 10px;
}

.background-masker.avatar-placeholder {
  height: 44px;
  width: 44px;
  border: none;
  border-radius: 50%;
  position: relative;
}


.loader {
  position: relative;
  margin: 0 auto;
  width: 80px;
  &:before {
    content: '';
    display: block;
    padding-top: 100%;
  }
}

.circular {
  animation: rotate 2s linear infinite;
  height: 50px;
  transform-origin: center center;
  width: 50px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  stroke-width: 2;
  animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  stroke-linecap: round;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}

@keyframes color {
  100%,
  0% {
    stroke: $color-red;
  }
  40% {
    stroke: $color-blue;
  }
  66% {
    stroke: $color-green;
  }
  80%,
  90% {
    stroke: $color-yellow;
  }
}

.loading-mask-container .partial-loading {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  min-height: 300px;
  z-index: 999;
}

.loading-mask-container .full-loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
}

.loading-mask-container .button-placeholder {
}

#spinner {
  position: absolute !important;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 98;
  background-color: rgba(241,241,241, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  margin: 0;
}

/* ----------------------------------
Course Item (List Mode) Style Sheet
---------------------------------- */
.row.gap-25 {
  margin-right: -13px;
  margin-left: -12px;
}

.row.gap-20 {
  margin-right: -10px;
  margin-left: -10px;
}

.sm-field {
  max-width: 80px;
}

.md-field {
  max-width: 120px;
}

.lg-field {
  max-width: 180px;
}

.xl-field {
  max-width: 250px;
}

.currency-field.sm-field {
  width: 80px;
}

.material-icon {
  display: inline-block;
  color: rgba(0, 0, 0, 0.87);
  user-select: none;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  vertical-align: middle;
  margin-right: 0px;
  fill: $secondary-color;
}

.material-icon.primary {
  fill: $md-color-pink
}

.material-icon.secondary {
  fill: $secondary-color
}

.rating-item .fa {
  font-size: 12px;
  color: $rating-color;
}

.general-placeholder .loading-mask-container {
  position: absolute !important;
}

.empty-result-message {
  padding: 20px 0 0 0;
  font-size: 20px;
}

a.clear-filter {
  color: $color-hightlight;
}

.teacher-list {
  width: 100%;
  background-color: $white-color;
}

.login-register {
  margin-top: 40px;
}

.date {
  color: $gray-pale;
  font-weight: normal;
  font-size: 12px;
  text-transform: lowercase;
}

.coursedy-headline {
  font-family: 'serif';
  font-size: 24px;
  line-height: 24px;
}
