.full-width-input-wrapper input {
  width: 100%;
}

.input-errors {
  color: #ac2925;
  font-size: 11px;
}

.d-flex {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.flex-auto {
  -ms-flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
}

.flex-horizontal {
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
}

.flex-vertical {
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
}

.flex-nowrap {
  -ms-flex-wrap: nowrap;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.flex-wrap {
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.justify-content-left {
  -ms-justify-content: flex-start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}

.justify-content-right {
  -ms-justify-content: flex-end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}

.justify-content-center {
  -ms-justify-content: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.align-self-left {
  -ms-align-self: flex-start;
  -webkit-align-self: flex-start;
  align-self: flex-start;
}

.align-self-right {
  -ms-align-self: flex-end;
  -webkit-align-self: flex-end;
  align-self: flex-end;
}

.align-self-center {
  -ms-align-self: center;
  -webkit-align-self: center;
  align-self: center;
}

.align-items-center {
  -ms-align-items: center;
  -webkit-align-items: center;
  align-items: center;
}

.degree-filename {
  max-width: 180px;
  width: 180px;
  text-overflow: ellipsis;
}

.tag-container {
  border: 1px solid #e5e5e5;
  padding: 10px 20px;
  margin: 10px 0;
}

.tag-box {
  padding: 5px 10px;
  border-radius: 20px;
  background-color: #f2f2f2;
}

.bold {
  font-weight: 700;
}

.block-content {
  padding: 15px 0px;
  margin: 15px 0px;
  border: 1px solid #e5e5e5;
}

.block-title {
  margin-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}

.dashboard-content, .normal-text {
  color: #534051;
}

.dashboard-content-section {
  border-radius: 5px;
  border: 1px solid #e5e5e5;
  padding-top: 20px;
  margin-bottom: 20px;
}

.select2-container .select2-search--inline input.select2-search__field {
  margin-top: 10px;
}

.modal-dialog {
  top: 90px
}

.file-name-wrapper {
  max-width: 150px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/**
 * Margin Sets
 */

.mr-1 {
  margin-right: 1px !important
}

.mr-3 {
  margin-right: 3px !important
}

.mr-5 {
  margin-right: 5px !important
}

.mr-10 {
  margin-right: 10px !important
}

.mr-15 {
  margin-right: 15px !important
}

.mr-20 {
  margin-right: 20px !important
}

.mr-25 {
  margin-right: 25px !important
}

.mr-30 {
  margin-right: 30px !important
}

.mr-40 {
  margin-right: 40px !important
}

.mr-50 {
  margin-right: 50px !important
}

.ml-1 {
  margin-left: 1px !important
}

.ml-3 {
  margin-left: 3px !important
}

.ml-5 {
  margin-left: 5px !important
}

.ml-10 {
  margin-left: 10px !important
}

.ml-15 {
  margin-left: 15px !important
}

.ml-20 {
  margin-left: 20px !important
}

.ml-25 {
  margin-left: 25px !important
}

.ml-30 {
  margin-left: 30px !important
}

.ml-40 {
  margin-left: 40px !important
}

.ml-50 {
  margin-left: 50px !important
}

.mt-1 {
  margin-top: 1px !important
}

.mt-3 {
  margin-top: 3px !important
}

.mt-5 {
  margin-top: 5px !important
}

.mt-10 {
  margin-top: 10px !important
}

.mt-15 {
  margin-top: 15px !important
}

.mt-20 {
  margin-top: 20px !important
}

.mt-25 {
  margin-top: 25px !important
}

.mt-30 {
  margin-top: 30px !important
}

.mt-40 {
  margin-top: 40px !important
}

.mt-50 {
  margin-top: 50px !important
}

.mt-60 {
  margin-top: 60px !important
}

.mt-70 {
  margin-top: 70px !important
}

.mt-80 {
  margin-top: 80px !important
}

.mt-90 {
  margin-top: 90px !important
}

.mb-1 {
  margin-bottom: 1px !important
}

.mb-5 {
  margin-bottom: 5px !important
}

.mb-10 {
  margin-bottom: 10px !important
}

.mb-15 {
  margin-bottom: 15px !important
}

.mb-16 {
  margin-bottom: 16px !important
}

.mb-20 {
  margin-bottom: 20px !important
}

.mb-25 {
  margin-bottom: 25px !important
}

.mb-30 {
  margin-bottom: 30px !important
}

.mb-40 {
  margin-bottom: 40px !important
}

.mb-50 {
  margin-bottom: 50px !important
}

.mb-60 {
  margin-bottom: 60px !important
}

.mb-70 {
  margin-bottom: 70px !important
}

.mb-80 {
  margin-bottom: 80px !important
}

.mv-5 {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}

.mv-10 {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.mv-15 {
  margin-top: 15px !important;
  margin-bottom: 15px !important;
}

.mv-20 {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}

.mv-30 {
  margin-top: 30px !important;
  margin-bottom: 30px !important;
}

.mv-40 {
  margin-top: 40px !important;
  margin-bottom: 40px !important;
}

.mv-50 {
  margin-top: 50px !important;
  margin-bottom: 50px !important;
}

.mv-70 {
  margin-top: 70px !important;
  margin-bottom: 70px !important;
}

.mh-5 {
  margin-left: 5px !important;
  margin-right: 5px !important;
}

.mh-10 {
  margin-left: 10px !important;
  margin-right: 10px !important;
}

.mh-15 {
  margin-left: 15px !important;
  margin-right: 15px !important;
}

.mh-20 {
  margin-left: 20px !important;
  margin-right: 20px !important;
}

.mh-30 {
  margin-left: 30px !important;
  margin-right: 30px !important;
}

.mh-40 {
  margin-left: 40px !important;
  margin-right: 40px !important;
}

.mh-50 {
  margin-left: 50px !important;
  margin-right: 50px !important;
}

.mh-70 {
  margin-left: 70px !important;
  margin-right: 70px !important;
}

.margin-5 {
  margin: 5px !important;
}

.margin-10 {
  margin: 10px !important;
}

.margin-15 {
  margin: 15px !important;
}

.margin-20 {
  margin: 20px !important;
}

.margin-25 {
  margin: 25px !important;
}

.no-magin,
ul.no-margin,
.margin-0 {
  margin: 0 !important
}

.no-mt,
.mt-0 {
  margin-top: 0 !important
}

.no-mb,
.mb-0 {
  margin-bottom: 0 !important
}

.no-ml,
.ml-0 {
  margin-left: 0 !important
}

.no-mr,
.mr-0 {
  margin-right: 0 !important
}

/**
 * Padding Sets
 */

.pr-5 {
  padding-right: 5px !important
}

.pr-10 {
  padding-right: 10px !important
}

.pr-15 {
  padding-right: 15px !important
}

.pr-20 {
  padding-right: 20px !important
}

.pr-30 {
  padding-right: 30px !important
}

.pr-40 {
  padding-right: 40px !important
}

.pr-50 {
  padding-right: 50px !important
}

.pr-0,
.no-pr {
  padding-right: 0 !important
}

.pl-5 {
  padding-left: 5px !important
}

.pl-10 {
  padding-left: 10px !important
}

.pl-15 {
  padding-left: 15px !important
}

.pl-20 {
  padding-left: 20px !important
}

.pl-30 {
  padding-left: 30px !important
}

.pl-40 {
  padding-left: 40px !important
}

.pl-50 {
  padding-left: 50px !important
}

.pl-0,
. no-pl {
  padding-left: 0 !important
}

.pt-5 {
  padding-top: 5px !important
}

.pt-10 {
  padding-top: 10px !important
}

.pt-15 {
  padding-top: 15px !important
}

.pt-20 {
  padding-top: 20px !important
}

.pt-25 {
  padding-top: 25px !important
}

.pt-30 {
  padding-top: 30px !important
}

.pt-40 {
  padding-top: 40px !important
}

.pt-50 {
  padding-top: 50px !important
}

.pt-60 {
  padding-top: 60px !important
}

.pt-70 {
  padding-top: 70px !important
}

.pt-80 {
  padding-top: 80px !important
}

.pt-0,
.no-pt {
  padding-top: 0px !important
}

.pb-5 {
  padding-bottom: 5px !important
}

.pb-10 {
  padding-bottom: 10px !important
}

.pb-15 {
  padding-bottom: 15px !important
}

.pb-20 {
  padding-bottom: 20px !important
}

.pb-30 {
  padding-bottom: 30px !important
}

.pb-40 {
  padding-bottom: 40px !important
}

.pb-50 {
  padding-bottom: 50px !important
}

.pb-60 {
  padding-bottom: 60px !important
}

.pb-70 {
  padding-bottom: 70px !important
}

.pb-80 {
  padding-bottom: 80px !important
}

.pb-0,
.no-pb {
  padding-bottom: 0 !important
}

.padding-5 {
  padding: 5px !important
}

.padding-10 {
  padding: 10px !important
}

.padding-15 {
  padding: 15px !important
}

.padding-20 {
  padding: 20px !important
}

.padding-30 {
  padding: 30px !important
}

.lesson-col-no-text {
  background-color: #534051;
  color: #ffffff;
}

.lesson-col-text {
  background-color: #534051;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.index-lesson-col {
  min-width: 20px;
  width: 10%;
  border-left: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}

.lesson-name-col {
  width: 25%;
  border-left: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  padding: 5px 0;
}

.lesson-per-col {
  min-width: 30px;
  width: 20%;
  border-left: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  padding: 5px 0;
}

.lesson-del-col {
  min-width: 20px;
  width: 10%;
  border-left: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}

.lesson-add-col {
  width: 35%;
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}

.full-with {
  width: 100%;
}

.modal-content {
  border-radius: 0;
}

.modal-header {
  background-color: #534051;
  color: #ffffff;
}

.close {
  color: #ffffff;
  opacity: 1;
}

.btn-default {
  padding: 8px 28px;
  font-size: 16px;
}

.btn-default.btn-small {
  font-size: 14px;
  padding: 6px 12px;
}

.pre-wrap {
  white-space: pre-wrap;
  padding: 10px 5px;
}

.full-width-input-wrapper input {
  width: 100%;
}

.input-errors {
  color: #ac2925;
  font-size: 11px;
}

.pad-top-10 {
  padding-top: 10px;
}

.react-datepicker__input-container, .react-datepicker-wrapper {
  display: block;
}

.react-datepicker__day-name, .react-datepicker__day, .react-datepicker__time-name {
  width: 3.5rem;
  height: 3rem;
  padding-top: 7px;
  font-size: 14px;
  color: #73736e;
}

.react-datepicker__day--keyboard-selected, .react-datepicker__day--selected {
  color: white !important;
  background-color: #e27d7f;
}

.react-datepicker__current-month {
  font-size: 14px;
  color: #73736e;
}

.select2 {
  min-width: inherit;
}

.inline-form .control-label {
  padding-top: 10px;
  height: 18px;
}

.inline-form .fa-pencil {
  padding-top: 13px;
  opacity: 0;
}

.inline-field:hover {
  cursor: pointer;
}

.inline-field:hover .fa-pencil {
  padding-top: 13px;
  opacity: 1;
}

.inline-edit {
  margin-left: 10px;
}

.inline-edit:hover {
  cursor: pointer;
}

.margin-left-10 {
  margin-left: 10px;
}

.cancel-button {
  background-color: #C0C0C0;
  border: none;
}

.tutor-title {
  margin-top: 5px;
  margin-bottom: 15px;
}

.dart-text {
  color: #959595;
  margin: 10px 0;
}

.inline-block {
  display: inline-block;
}

.padd-top-50 {
  padding-top: 50px;
}

.react-datepicker-popper {
  z-index: 99999;
}

.avatar-image {
  width: 268px;
}

.datepicker-box {
  width: 150px;
}

.red {
  color: #FF0000;
}

.course-container {
  cursor: pointer;
  color: #9B9B9B;
}

.course-container:hover {
  cursor: pointer;
  color: #ffffff;
  background-color: rgba(226, 125, 127, 0.60);
  transform: translateZ(0);
  transition: all 0.35s ease;
}

.user-detail hr {
  margin-top: 10px;
  margin-bottom: 10px;
}

.inline-form-control {
  display: block;
  width: 100%;
  padding: 6px 12px;
  line-height: 1.42857143;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.lesson-section-seperator {
  color: #534051;
  border-top: 1px solid #e5e5e5;
  padding: 15px;
}

.section-title {
  text-align: center;
  font-size: 18pt;
  width: 80%;
  font-family: 'Roboto Condensed', sans-serif;
  margin: 0 0 30px;
  color: #534051;
}

.inline-form {
  font-size: 16px;
}

.creation-course-title {
  width: 100%;
}

.creation-course-title .inline-form-control {
  height: 34px;
}

.checkbox-group .form-control {
  padding: 5px;
}

.align-items-center .form-group {
  margin: 0;
}

.select-course-fee {
  width: 30%;
}

.md-check-box-field {
  min-width: 135px;
  margin: 5px;
}

.md-check-box-field:hover .form-control, .lg-check-box-field:hover .form-control {
  border: 2px solid #e27d7f;
  margin: -2px;
}

.lg-check-box-field {
  min-width: 200px;
  margin: 5px;
}

.form-control {
  border-radius: 2px !important;
  box-shadow: none;
  border-color: #CCC;
  font-size: 13px;
  height: 100%;
}

.form-control:focus {
  border-color: #534051;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

input:not([type]), input[type="email"], input[type="number"], input[type="password"], input[type="tel"],
input[type="url"], input[type="text"], textarea, .form-control {
  background-color: #ffffff;
  line-height: 1.3em;
  border-radius: 2px;
  border: 1px solid rgba(48,51,57,.15);
  font-size: 14px;
  padding: 5px 10px;
}

input:not([type]):focus, input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="tel"]:focus,
input[type="url"]:focus, input[type="text"]:focus, textarea:focus, .form-control:focus {
  border-color: #534051;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.dark-picker-bright .select2-container--default .select2-selection--single {
  background-color: #ffffff;
  border: 1px solid rgba(48,51,57,.15);
  border-radius: 2px;
}

.select2-container--default.select2-container--open.select2-container--below .select2-selection--single,
.select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
  border-color: #534051;
}

.select2-container--default.select2-container--open.select2-container--below .select2-selection__arrow {
  color: #534051;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}

.select2-container--default.select2-container--open.select2-container--below .select2-selection__arrow:before {
  content: "\f106";
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 16px;
}

.currency-field, .type-field {
  width: 100px;
}
