.full-width-input-wrapper input{
  width: 100%;
}

.input-errors {
  color: #ac2925;
  font-size: 11px;
}

.d-flex {
  display: flex;
}

.flex-horizontal {
  flex-direction: row;
}

.flex-vertical {
  flex-direction: column;
}

