$primary-color: #534051;
$md-color-pink: #e27d7f;
$border-color: #e5e5e5;
$error-color: #ac2925;
$dark-text-color: #73736e;
$gray-background: #f4f5f9;
$white-background: #ffffff;
$green-text-color: #169BD5;
$white-color: #ffffff;
$black-color: #000000;
$facebook-primary-color: #3c5a96;
$facebook-hover-color: #4967a2;