$default-color: #534051;
$cancel-btn-color: #C0C0C0;
$border-focus-color: #aaa;
$gray-background: #f5f5f5;
$primary-color: #ffffff;
$md-color-pink: #1CABA0;
$primary-text-color: #1CABA0;
$primary-color-opacity-50: rgba(28, 171, 160, 0.9);
$color-dark-green: #145D8E;
$border-color: #e5e5e5;
$border-color-two: #ccc;
$error-color: #ac2925;
$dark-text-color: #565656;
$light-dark-text-color: #B5BECB;
$black-text-color: #555555;
$rating-item-color: #F4A460;
//$gray-background: #f4f5f9;
$white-background: #ffffff;
$green-text-color: #169BD5;
$white-color: #ffffff;
$black-color: #000000;
$back-dark-text-color: #303339;
$grey-light-text-color: #a9afb6;
$facebook-primary-color: #3c5a96;
$facebook-hover-color: #4967a2;
$primary-font-size: 16px;

$row_margin_top: 99px;
$row_margin_bottom: 100px;
$body-color: #f2f2f2;
$color-border: #eaebf0;
$color-bg-filter: rgb(244, 245, 249);
$color-bg-neutral: #F4FAFA;
$color-bg-chip-active: #00779a;
$color-bg-icon-delete-chip: #00617d;
$color-box-shadow: rgba(0, 0, 0, 0.43);
$color-light-box-shadow: rgba(0, 0, 0, 0.13);
$color-seperator-line: rgba(151, 151, 151, 0.2);

$color-red: #ac2925;
$color-green: #008744;
$color-blue: #0057e7;
$color-yellow: #ffa700;
$rating-color: #F2D43D;
$title-color: #404F54;
$color-orange: #FF7F45;
$color-orange-two: #F4A460;
$color-black-one: #333;
$color-black-two: #999;
$color-black-three: #222;
$color-black-four: #3a405b;
$color-black-five: #777777;
$color-black-six: #444;

$gray-pale: #95A0B1;
$gray-dark: #4C5667;
$gray-pale-light: #B5BECB;

//Definitions for media queries
$xs-query: "(max-width: 575.98px)";
$sm-query: "(min-width: 576px) and (max-width: 767.98px)";
$md-query: "(min-width: 768px) and (max-width: 991.98px)";
$lg-query: "(min-width: 992px) and (max-width: 1199.98px)";
$xl-query: "(min-width: 1200px)";

$xs-lower: 0;
$xs-upper: 575.98px;
$sm-lower: 576px;
$sm-upper: 767.98px;
$md-lower: 768px;
$md-upper: 991.98px;
$lg-lower: 992px;
$lg-upper: 1199.98px;
$xl-lower: 1200px;
$xl-upper: 9999px;
$color-bg-light-blue: #00aced;
$color-bg-light-red: #ed455e;
$color-bg-dark-red: #D13A50;

// new style colors
$color-organe: #FF7F45;

$color-bg-gray-form: #F5F5F5;
$color-light-black-text: #3e4247;
$color-user-action-bg: #F7F7F7;
$color-default-bg: #fdfdfd;
$color-light-color: #F4FAFA;
$box-gap: 15px;

$color-bg-dark-close-black: #364247;
$color-bg-dark-light: #424e55;

$color-blue-light: #02cbf7;
$color-blue-dark: #0099E5;

$color-gray-light: #c2c0c0;

// text color
$color-darker-text: #5E6A6E;
$color-text: #939393;
$secondary-color: #B3BDBC;

// dashboard
$color-bg-dashboard-menu: #404F54;
$color-active-dashboard-menu: #F4F6F9;

$font-awesome: 'FontAwesome';

$height-button: 40px;
$height-small-button: 35px;
$height-field: 32px;
