$default-color: #534051;
$cancel-btn-color: #C0C0C0;
$border-focus-color: #aaa;
$gray-background: #F7F7F7;
$primary-color: #ffffff;
$md-color-pink: #e27d7f;
$border-color: #e5e5e5;
$error-color: #ac2925;
$dark-text-color: #565656;
$rating-item-color: #F4A460;
//$gray-background: #f4f5f9;
$white-background: #ffffff;
$green-text-color: #169BD5;
$white-color: #ffffff;
$black-color: #000000;
$facebook-primary-color: #3c5a96;
$facebook-hover-color: #4967a2;
$primary-font-size: 16px;

$row_margin_top: 99px;
$row_margin_bottom: 100px;
$body-color: #f2f2f2;
$color-border: #eaebf0;
$color-bg-filter: rgb(234, 235, 240);
$color-bg-chip-active: #00779a;
$color-bg-icon-delete-chip: #00617d;