@import "global_style";

body.application {
  font-size: 14px;
  line-height: 20px;
  color: $dark-text-color;
  background-color: $white-background;

  .navbar-light.dark-header .navbar-nav .nav-link {
    color: $white-color;
    &.nav-btn {
      color: $white-color;
      background-color: transparent;
      border: none;
    }
    &.active {
      color: $white-color;
      border-bottom: 2px solid $white-color;
    }
  }

  .navbar-light .navbar-nav .nav-link,
  .navbar-light.dark-header.fixed-top .navbar-nav .nav-link {
    color: $dark-text-color;
    font-size: 14px;
    font-weight: 600;
    padding: 5px 0;
    &.nav-btn {
      color: $dark-text-color;
      border: 1px solid $dark-text-color;
      &:hover {
        color: $md-color-pink;
        border: 1px solid $md-color-pink;
        -webkit-transition: all .3s ease;
        transition: all .3s ease;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        -ms-transition: 0.3s;
        -o-transition: 0.3s;
      }
    }

    &.active {
      border-bottom: 2px solid $dark-text-color;
    }
  }

  .nav-btn {
    border-radius: 2px;
    border: 1px solid $white-color;
    font-size: 14px;
    font-weight: 400;
    margin: 4px 10px;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
  }

  .navbar {
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
  }

  .navbar-light .navbar-nav .active > .nav-link,
  .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    cursor: pointer;
  }

  .navbar-default {
    width: 100%;
    z-index: 999;
    padding: 0;
    height: 60px;
    .nav-btn {
      padding: 0.25rem;
    }
    &.bg-light, &.dark-header.fixed-top {
      background: $primary-color !important;
    }

    &.dark-header {
      background: transparent !important;
    }

    .navbar-nav > li > a {
      color: $white-color;
      font-size: 14px;
      font-weight: 400;
      line-height: 37px;
    }

    .navbar-toggle .icon-bar {
      background-color: $md-color-pink;
    }

    .navbar-toggle {
      border: 0;
    }

    .container {
      padding: 10px 0;
    }
  }

  .container > .navbar-header {
    margin-left: 0px;
  }

  .logo {
    height: 100%;
    max-height: 35px;
    width: initial;
    margin-top: 10px;
  }

  .btn-link {
    color: $primary-color;
    font-size: 16px;
    font-weight: 400;
    margin-top: 50px;
    padding: 14px 28px;
    border: 1px solid $primary-color;
    border-radius: 5px;
    text-align: center;
  }

  .navbar-sticky {
    border-color: #e6e6e6;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.12);
  }

  .navbar-sticky.no-shadow {
    box-shadow: none;
    border-bottom: 1px solid $border-color !important;
  }

  /* ----------------------------------
  Homepage >> Header #Search
  ---------------------------------- */

  .header-homepage {
    color: $dark-text-color;
    min-height: 600px;
    background-color: $md-color-pink;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    margin-top: -80px;
    padding-top: 50px;
    width: 100%;
    height: calc(100vh - 200px);
  }

  .header-margin {
    margin: 18px 12.5%;
    width: 75%;
  }

  .hero-title {
    color: $white-color;
    font-size: 3.75rem;
    font-weight: 500;
    text-align: center;
    line-height: 3.75rem;
    margin-bottom: 10px;
  }

  .hero-tag {
    color: $white-color;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 40px;
  }

  .home-search {
    text-align: center;
    margin-bottom: 96px;
    li ._button-search {
      margin-top: 0;
    }
    .select2-selection__rendered {
      height: 100%;
      padding-top: 6px;
    }
  }

  .home-search li:last-child {
    text-align: left;
  }

  .home-search li {
    display: inline-block;
    min-width: 300px;
    vertical-align: top;
  }

  .btn-search {
    border-radius: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: $white-color;
    height: 58px;
    color: $md-color-pink;
    font-size: 13px;
    text-transform: uppercase;
    width: 100%;
    font-weight: 700;
    margin-left: -1px;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
  }

  .btn-search:hover {
    background: $md-color-pink;
    color: $white-color;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
  }

  .btn-search .fa {
    margin: 0 4px;
  }

  .home-search li:first-child .select2-container--default .select2-selection--single {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  @media only screen and (max-width: 992px) {

    .navbar-default.navbar-light {
      .navbar-nav {
        .nav-link.nav-btn {
          color: inherit;
          background-color: transparent;
          border: none;
          margin: 0;
        }
      }

      &.dark-header {
        .navbar-collapse {
          background-color: transparent;
          color: $white-color;
          &.show, &.collapsing {
            &:before {
              color: $white-color;
            }
          }
        }
      }

      .navbar-collapse {
        background-color: $white-color;
        color: $dark-text-color;
      }
    }

    .navbar-collapse {
      &.show, &.collapsing {
        position: absolute;
        top: 64px;
        right: 15px;
        border: 1px solid $border-color;
        display: flex;
        ul.navbar-nav {
          align-items: flex-end;
          padding: 15px;
          .nav-item {
            margin-bottom: 5px;
          }
        }

        &:before {
          position: absolute;
          top: -16px;
          right: 30px;
          font-size: 20px;
          color: $md-color-pink;
          content: '\f0d8';
          font-family: $font-awesome;
        }
      }
    }
  }

  .fixed-top-search-bar {
    position: static;
  }

  .moving-sort-bar {
    margin-top: 0;
  }

  .header-nav {
    &.dark-header {
      border: none;
    }
    &.bg-light, &.dark-header.fixed-top {
      border-bottom: solid 1px $border-color;
    }
  }

  @media only screen and (min-width: 993px) {
    .fixed-top-search-bar {
      width: 100%;
      background-color: $white-color;
      border-bottom: solid 1px $border-color;
    }

    .navbar-sticky.fixed-top+main.container {
      margin-top: 50px;
      .course-filter-container .fixed-top-search-bar {
        position: fixed;
        top: 60px;
        left: 0;
        z-index: 99;
        box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.12);
        border-top: solid 1px $border-color;
      }
      .teacher-detail .fixed-top-profile-teacher {
        position: fixed;
        top: 60px;
        left: 0;
        z-index: 999;
        border-top: solid 1px $border-color;
        background-color: #fff;
        width: 100%;
        .teacher-detail-profile-header {
          padding: 10px 0 10px 0;
          .profile-picture img {
            height: 80px;
            width: 80px;
            cursor: pointer;
            transition: all 0.8s;
            -webkit-transition: all 0.8s;
            border-radius: 50%;
            padding: 1px;
          }

          .profile-summary {
            .categories, .rating-wrapper {
              visibility: hidden;
              opacity: 0;
              transition: visibility 0.5s, height 0.5s linear;
              height: 0;
            }
          }
        }
      }
      .moving-sort-bar {
        margin-top: 50px;
      }
    }

    .header-nav.navbar-sticky.fixed-top {
      border-bottom: none;
    }
  }

  .navbar-toggler-icon {
    width: 1em;
    height: 1em;
  }

  ul.navbar-nav {
    margin-right: -10px;
    align-items: center;
    .nav-item {
      margin: 0 10px;
    }
  }

  .dashboard-content-section {
    border: none;
    background-color: $white-color;
    box-shadow: 0 3px 8px 0 $color-light-box-shadow;
    padding: 20px 15px;
    margin-bottom: 15px;
    width: 100%;
    .block-title {
      color: $black-text-color;
    }
  }

  .dashboard-section {
    display: flex;
    flex-grow: 1;
  }

  .dashboard-section .row-padding {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .dashboard-menu {
    border: none;
    background: $color-bg-dashboard-menu;
    margin-bottom: 15px;
    height: 100%;
  }

  .dashboard-menu .panel-heading {
    padding: 11px 0px;
    margin: 2px 0;
  }

  .dashboard-menu .panel-title {
    & a {
      color: $dark-text-color;
    }
    font-size: 16px;
    font-weight: 400;
  }

  .dashboard-menu .panel-default {
    border: 0;
  }

  .dashboard-menu .panel-title .fa {
    color: #b2b2b2;
    margin-right: 15px;
  }

  .dashboard-menu .panel-heading a:after {
    content: '\f107';
    color: $md-color-pink;
    position: absolute;
    right: 12.5%;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 20px;
    margin-top: 6px;
  }

  .dashboard-menu .panel-heading a.collapsed:after {
    content: '\f105';
    color: #b9b9b9;
  }

  .dashboard-menu .panel-title > a {
    display: block;
  }

  .dashboard-profile {
    padding: 15px 50px;
    border-bottom: 1px solid $color-active-dashboard-menu;
    color: $color-bg-neutral;

    .media-team .media-object {
      width: 69px;
      height: 69px;
    }

    h4 {
      font-size: 18px;
      font-weight: 600;
      margin-top: 5px;
      margin-bottom: 12px;
    }

    p {
      font-size: 12px;
      font-weight: 400;
      font-style: normal
    }

    .media-team {
      figure {
        margin-right: 15px;
        width: 69px;
        height: 69px;
        border-radius: 50%;
      }
    }
  }

  @media (max-width: 830px) {
    .dashboard-profile {
      padding: 15px;
      .user-name, .sub-title {
        display: none;
      }
    }
  }

  .dashboard-link {
    margin: 2px 0;
  }

  .dashboard-link a {
    display: inline-block;
    width: 100%;
    padding: 11px 0;
  }

  .panel-group .panel + .panel {
    margin-top: 0;
  }

  .dashboard-link a {
    color: $primary-color;
    font-size: 18px;
    font-weight: 400;
  }

  .dashboard-link a:hover,
  .dashboard-link a.active,
  .dashboard-link a.active .fa,
  .dashboard-link a:hover .fa {
    color: $md-color-pink;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
  }

  .dashboard-link .fa {
    color: #b2b2b2;
    margin-right: 15px;
  }

  .table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
  }

  .dashboard-panel {
    border: 1px solid $border-color;
    background: #fdfdfd;
    border-radius: 5px;
    padding: 20px;
    position: relative;
    float: left;
    width: 100%;
    margin-bottom: 30px;
  }

  @media (max-width: 991.98px) {
    .navbar-expand-lg > .container, .navbar-expand-lg > .container-fluid {
      padding-right: 15px;
      padding-left: 15px;
    }
  }

  .main-content {
    .dashboard-section {
      border-bottom: 1px solid $border-color;
    }
    background-color: $gray-background;
    .daskboard-container {
      background-color: transparent;
      padding: 10px 30px;
      border: none;
      .title {
        font-size: 22px;
        color: $color-darker-text;
        padding-bottom: 30px;
        text-transform: uppercase;
      }
      .course-details-container {
        padding: 0 17%;
      }
    }
  }

  @media (max-width: 575px) {
    .navbar-expand-lg > .container, .navbar-expand-lg > .container-fluid {
      padding-right: 0;
      padding-left: 0;
    }

    .main-content > .container {
      .full-width-in-container {
        margin-left: -15px;
        margin-right: -15px;
      }
    }
  }

  .full-width-in-container {
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
  }

  .img-circle {
    border-radius: 50%;
  }

  .heading {
    font-size: 30px;
    font-weight: 400;
    color: $dark-text-color;
    text-align: center;
    margin-bottom: 65px;
  }

  .row-padding {
    padding: 90px 45px;
  }

  .btn-link:hover {
    color: $md-color-pink;
    border-color: $md-color-pink;
    text-decoration: none;
  }

  .btn-link-dark {
    padding: 8px;
    color: $white-color;
    font-size: 14px;
    font-weight: 400;
    border: 1px solid $md-color-pink;
    border-radius: 2px;
    text-align: center;
    background: $md-color-pink;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
  }

  .btn-link-dark:hover {
    background: transparent !important;
    color: $md-color-pink !important;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
  }

  .btn-link-dark:focus,
  .btn-link-dark:active {
    outline: none !important;
  }

  .btn-link-light {
    padding: 8px;
    background: transparent;
    color: $md-color-pink;
    font-size: 14px;
    font-weight: 400;
    border: 1px solid $md-color-pink;
    border-radius: 2px;
    text-align: center;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    &:hover {
      color: $white-color;
      background: $md-color-pink;
    }
  }

  // select2 styles
  .select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: $color-light-color;
    color: $black-text-color;
  }

  .home-search .select2-container--default .select2-selection--single {
    background-color: $white-color;
    border: 1px solid $white-color;
    border-right: 1px solid $border-color;
    color: $dark-text-color;
    font-size: 16px;
    border-radius: 0;
    font-size: 14px;
    padding: 15px 16px;
    margin-bottom: 0px;
    text-align: left;
    height: 58px;
  }

  .select2-dropdown {
    border: 1px solid #f2f2f2;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .26), 0 2px 10px 0 rgba(0, 0, 0, .16);
  }

  .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 26px;
    position: absolute;
    top: 5px;
    right: 3px;
    width: 33px;
    border-radius: 5px;
    b {
      border-width: 7px 6px 0 6px;
      margin-top: -4px;
    }
  }

  .select2-container--default .select2-selection--single {
    border: 1px solid $border-color;
    border-radius: 3px;
    height: $height-field;
  }

  .header-homepage .select2-container--default .select2-selection--single .select2-selection__arrow {
    background: $white-color url("../images/arrow.png") no-repeat center !important;
  }

  input:disabled, textarea:disabled, .form-control:disabled,
  .dark-picker-bright .select2-container--default.select2-container--disabled .select2-selection--single{
    background-color: #F0F0EF;
    cursor: not-allowed;
  }

  input:not([type]):focus, input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="tel"]:focus,
  input[type="url"]:focus, input[type="text"]:focus, textarea:focus, .form-control:focus {
    border-color: $primary-text-color;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    &.error {
      border-color: $error-color;
    }
  }

  .dark-picker-bright .select2-container--default .select2-selection--single {
    background-color: #ffffff;
    border: 1px solid rgba(48, 51, 57, .15);
    border-radius: 3px;
  }

  .select2-container--default.select2-container--open.select2-container--below .select2-selection--single,
  .select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
    border-color: $primary-text-color;
  }

  .select2-container--default.select2-container--open.select2-container--below .select2-selection__arrow {
    color: $primary-color;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    b {
      border-width: 0 6px 7px 6px;
      margin-top: -4px;
      border-color: transparent transparent $primary-text-color
    }
  }

  .select2-container--default .select2-selection--single .select2-selection__rendered {
    padding: 1px 10px;
  }

  .select2-search__field {
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
  }

  /* select2 scrollbar styling */

  .select2-results__options::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
  }

  .select2-results__options::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
  }

  .select2-results__options::-webkit-scrollbar-thumb {
    background-color: #534051;
  }

  .select2-container--default .select2-search--dropdown .select2-search__field {
    border-color: rgba(48, 51, 57, 0.15);
    outline-color: rgba(48, 51, 57, 0.15);
    border-radius: 2px;
  }

  .select2-container--default select2-container--open {
    top: 453px !important;
  }

  .currency-field, .type-field {
    width: 100px;
  }

  .select2-container .select2-selection--multiple {
    height: $height-field;
    min-height: $height-field;
    padding: 2px;
  }

  .select2-container .select2-search--inline {
    margin-left: 3px;
    margin-top: 3px;
  }

  .hidden {
    display: none !important;
  }

  .close {
    margin-top: -5px;
    margin-right: -10px;
  }

  .forgot-pass {
    color: $md-color-pink;
    font-size: 14px;
    font-weight: 400;
    float: right;
  }

  .forgot-pass:hover {
    text-decoration: none;
    color: $dark-text-color;
  }
  // end select2 styles

  .dashboard-links {
    padding-left: 0;
    li {
      border-bottom: 1px solid $color-active-dashboard-menu;
      position: relative;
      padding: 10px 15px;
      &:before {
        display: none;
      }

      a {
        font-size: 14px;
        font-weight: 400;
        display: inline-block;
        margin-left: 20px;
        width: 100%;
      }

      @media (max-width: 830px) {
        a {
          display: none;
        }
      }
    }

    &.active a, a:hover {
      color: $md-color-pink;
    }
  }

  .modal-header {
    background-color: $color-light-color;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
    & .modal-title {
      margin-bottom: 0;
      padding-top: 5px;
    }

    & button.close span{
      display: inline-block;
      margin-top: -10px;
      vertical-align: top;
    }
  }

  .modal-content {
    border-radius: 2px;
  }

  button:hover {
    cursor: pointer;
  }

  .avatar-container {
    position: relative;
  }

  .edit-avatar-btn {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: table;
    min-height: 50px;
    max-height: 100%;
    .base-line-btn {
      background-color: $default-color;
      color: $primary-color;
      display: table-cell;
      vertical-align: middle;
    }
  }

  .avatar-container:hover .edit-avatar-btn, .edit-avatar-btn:hover {
    display: table;
    cursor: pointer;
  }

  .block-center-align {
    margin-left: auto;
    margin-right: auto;
  }

  .padd-10 {
    padding: 10px;
  }

  .full-width-input-wrapper, .full-width {
    width: 100%;
  }

  .full-height {
    height: 100%;
  }

  .btn-primary {
    background-color: $md-color-pink;
    border-color: $md-color-pink;
    font-size: 14px;
  }

  .btn-primary:hover {
    background: $primary-color;
    color: $md-color-pink;
    border-color: $md-color-pink;
  }

  .cancel-button {
    font-size: 14px;
    background-color: $cancel-btn-color;
    border: solid 1px $cancel-btn-color;
    color: $primary-color;
    &:hover {
      background-color: transparent;
      color: $md-color-pink;
      border-color: $border-focus-color;
    }
  }

  .btn {
    border-radius: 2px;
  }

  .custom-control.custom-checkbox {
    display: inline-flex;
    min-height: 1.5rem;
    padding-left: 1.5rem;
    margin-right: 1rem;
    padding-top: 3px;
    cursor: pointer;
  }

  .custom-control-indicator {
    position: absolute;
    top: .25rem;
    left: 0;
    display: block;
    width: 1rem;
    height: 1rem;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #ddd;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: 50% 50%;
    background-size: 50% 50%;
  }

  .full-width-img {
    width: 100%;
    height: auto;
  }

  .img-circle {
    border-radius: 50%;
  }

  .course-item {
    position: relative;
    height: 100%;
    box-shadow: 0 0 1px 1px rgba(20,23,28,.1), 0 3px 1px 0 rgba(20,23,28,.1);
    &:hover {
      -webkit-box-shadow: 0px 0px 12px -1px rgba(0, 0, 0, 0.29);
      -moz-box-shadow: 0px 0px 12px -1px rgba(0, 0, 0, 0.29);
      box-shadow: 0px 0px 12px -1px rgba(0, 0, 0, 0.29);
    }

    p {
      color: $dark-text-color;
      &.course-item-description {
        max-height: 95px;
        overflow: hidden;
      }
    }

    .course-detail-lnk:hover {
      cursor: pointer;
    }
    background: $gray-background;
    .course-item-top {
      position: relative;
      padding-left: 15px;
      padding-top: 7px;
      .course-item-instructor {
        .image {
          width: 44px;
          height: 44px;
          border: 2px solid #FFF;
          float: left;
          margin-top: -27px;
          border-radius: 50%;
          margin-right: 5px;
          -webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.43);
          -moz-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.43);
          box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.43);
        }
      }
    }
    .course-item-content {
      padding: 10px;
      p {
        margin-top: 20px;
        font-size: 14px;
      }
      h3 {
        font-size: 16px;
        color: $black-text-color;
      }
      .rating-wrapper {
        margin: 0 0 5px;
        & > div {
          display: inline-block;
        }
        .rating-item {
          .fa {
            font-size: 12px;
            color: $rating-item-color;
          }
          .rating-symbol {
            margin-right: 3px;
          }
        }
      }
    }
    .course-item-bottom {
      position: relative;
      width: 100%;
      font-size: 11px;
      text-align: center;
      padding: 0 5px;
      border-top: 1px solid $border-color;
      display: table;
      & > div {
        display: table-cell;
        padding: 10px;
      }

      & > div:last-child {
        border-left: 1px solid $border-color;
      }

      .block {
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  .imghvr-zoom-in {
    border: none;
    background-color: transparent;
    border-radius: 50%;
    width: 104px;
    height: 104px;
    position: relative;
  }

  .yellow-color {
    color: $rating-item-color;
  }

  .react-datepicker__day-name, .react-datepicker__day, .react-datepicker__time-name {
    width: 30px;
    height: auto;
    padding-top: 0;
    font-size: 14px;
  }
  .delete-icon:hover {
    cursor: pointer;
  }

  .bordered-box {
    border: solid 1px $border-color;
    padding: 15px;
  }

  .modal-footer, .modal-header {
    padding: 10px 1rem;
    h5 {
      font-size: 17px;
    }
  }

  .pre-wrap {
    white-space: pre-wrap;
  }

  .control-label + .pre-wrap {
    margin-left: 5px;
  }

  .card {
    border-radius: 0;
    & .card-header:first-child {
      border-radius: 0;
    }
  }

  .remove-upload-file {
    position: absolute;
    z-index: 999999;
    color: $white-color;
    border-left: none;
    border-radius: 0;
  }

  .pager-wrappper {
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;

    .pager-right {
      float: right;
    }

    .pager-left {
      float: left;
    }
  }

  .social {
    a {
      display: block;
      line-height: 30px;
      background: $white-color;
      float: left;
      width: 30px;
      height: 30px;
      text-align: center;
      margin-right: 5px;
      font-size: 17px;
      border-radius: 100%;

      &.twitter {
        border: #00aced 1px solid;
        color: #00aced;
      }

      &.twitter:hover {
        background: #00aced;
        color: $white-color;
      }

      &.linked {
        border: #007bb5 1px solid;
        color: #007bb5;
      }

      &.linked:hover {
        background: #007bb5;
        color: $white-color;
      }
    }
  }

  @media (max-width: 767px) {
    .pull-left-xs {
      float: left!important;
    }
  }

  .course-pagination {
    position: relative;
    &:after {
      content: '';
      border: solid 0.5px $border-color;
      position: absolute;
      width: 100%;
      bottom: 0px;
      left: 0;
    }
    &:before {
      content: '';
      border: solid 0.5px $border-color;
      position: absolute;
      width: 100%;
      top: 0px;
      left: 0;
    }
  }

  .normal-text {
    font-size: 14px;
  }

  .public-course-list {
    width: 100%;
  }

  .navbar-toggler.collapsed{
    .expand-search-bar:before {
      content: '\f105';
    }
  }

  .navbar-toggler{
    .expand-search-bar{
      font-size: 17px;
      &:before {
        content: '\f107';
      }
    }
  }

  .public-course-list-container {
    background-color: $white-background;
  }

  //  footer
  .footer {
    padding: 0;
    background: $color-bg-dark-close-black;
    color: $white-color;
    p, a {
      color: $white-color;
    }

    &__top {
      background: $color-bg-dark-light;
      padding: 30px 0;
    }

    &__aside {
      flex: 0 0 25%;
      max-width: 25%;
      padding-right: 60px;

      @media (max-width: 767px) and (min-width: 320px) {
        flex: 0 0 100%;
        max-width: 100%;
        padding: 0;
      }
    }

    &__main {
      flex: 0 0 75%;
      max-width: 75%;

      @media (max-width: 767px) and (min-width: 320px) {
        flex: 0 0 100%;
        max-width: 100%;
        margin-top: 20px;
      }
    }

    &__end {
      flex: 0 0 100%;
      max-width: 100%;
      padding-top: 15px;
      @media (max-width: 767px) and (min-width: 320px) {
        .flexbox {
          flex-flow: column wrap;
        }
        text-align: center;
      }
    }

    &__links {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      flex-flow: row wrap;

      &__column {
        flex: 0 0 33.333%;
        max-width: 33.333%;
        @media (max-width: 767px) and (min-width: 320px) {
          flex: 0 0 50%;
          max-width: 50%;
          margin-bottom: 20px;
        }
        @media (max-width: 480px) and (min-width: 320px) {
          flex: 0 0 100%;
          max-width: 100%;
          margin-bottom: 10px;
        }
      }

      &__list {
        ul {
          li {
            a {
              display: inline-block;
              padding: 3px 0;
              line-height: 26px;
            }
          }
        }
      }
    }

    &__social-network {
      ul {
        display: inline-block;
        vertical-align: middle;
        li {
          display: inline-block;
          a {
            display: block;
            margin-right: 20px;
            opacity: 0.5;
            -webkit-transition: all .2s ease-in-out;
            -moz-transition: all .2s ease-in-out;
            -ms-transition: all .2s ease-in-out;
            -o-transition: all .2s ease-in-out;
            transition: all .2s ease-in-out;

            i.fa {
              font-size: 18px;
            }
          }
        }
      }
    }

    &__payment {
      padding-top: 20px;

      ul {
        list-style: none;
        padding-left: 0;
        li {
          display: inline-block;
          margin: 0 18px 10px 0;
        }
      }
    }

    &__copyright {
      color: $color-gray-light;
      flex: 0 0 50%;
      max-width: 50%;
      @media (max-width: 767px) and (min-width: 320px) {
        max-width: none;
      }
    }

    &__page-link {
      flex: 0 0 50%;
      max-width: 50%;
      text-align: right;
      margin-top: 5px;
      @media (max-width: 767px) and (min-width: 320px) {
        max-width: none;
        text-align: center;
      }
      ._link-text {
        margin-left: 20px;
      }
    }

    &__support {
      margin-top: 20px;
      border: 1px solid $white-color;
      color: $white-color;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      -ms-border-radius: 3px;
      border-radius: 3px;
      line-height: 1.42857;

      @media (max-width: 767px) and (min-width: 320px) {
        display: inline-block;
      }

      @media (max-width: 480px) and (min-width: 320px) {
        display: block;
      }

      a {
        display: block;
        position: relative;
        padding: 15px 15px 15px 55px;
        -webkit-transition: all .2s ease-in-out;
        -moz-transition: all .2s ease-in-out;
        -ms-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;

        &:hover {
          color: $color-blue-dark;
          ._icon, ._label {
            color: $color-blue-dark;
          }
        }
      }

      ._icon {
        position: absolute;
        left: 15px;
        top: 20px;
        font-size: 20px;
        color: $white-color;
      }

      ._label {
        display: block;
        color: $white-color;
        font-size: 10px;
        text-transform: uppercase;
        -webkit-transition: all .2s ease-in-out;
        -moz-transition: all .2s ease-in-out;
        -ms-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
      }

      &:hover {
        border-color: $color-blue-dark;
        transition: all .2s ease-in-out;
      }
    }

    &__label {
      color: $white-color;
      margin-bottom: 6px;
      font-size: 16px;
      font-weight: 600;
    }

    .coursedy-introduce {
      margin-top: 0;
      text-align: start;
    }

    .coursedy-copyright {
      margin-top: 5px;
      margin-left: 10px;
    }
  }

  // end footer
  // divider
  .divider {
    background: $color_orange;
    border-radius: 3px;
    width: 56px;
    height: 6px;
    margin: 20px auto 20px;
  }

  .button {
    display: inline-block;
    height: 42px;
    line-height: 42px;
    padding: 0 20px;
    font-size: 14px;
    font-weight: bold;
    border: 1px solid transparent;
    text-align: center;
    cursor: pointer;
    text-shadow: 0 1px 1px rgba(0,0,0,0.15);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;

    &.button-border-blue {
      background-color: transparent;
      border-color: $color-blue-dark;
      color: $color-blue-dark;
      text-shadow: none;

      &:hover {
        background-color: $color-blue-dark;
        color: $white-color;
      }
    }

    &.accept-button, &.cancel-button {
      max-width: 100px;
    }
  }

  .loading-bar-autocomplete {
    position: absolute;
    top: 42px;
    height: 80px;
    background-color: white;
    width: 100%;
    #spinner {
      .circular {
        width: 40px;
      }
    }
  }

  .dashboard-content {
    margin-left: 267px;
    height: auto;
    min-height: calc(100vh - 60px);
  }

  @media (max-width: 830px) {
    .dashboard-content {
      margin-left: 85px;
    }
  }

  .start-course-btn {
    min-width: 120px;
  }

  .pb-10px {
    padding-bottom: 10px;
  }

  .link-course-details {
    color: $md-color-pink;
    font-weight: 700;
  }

  .no-course-warning {
    display: flex;
    justify-content: center;
    font-size: 16px;
  }

  .find-more-course-link {
    margin-left: 10px;
    color: $md-color-pink;
  }
  .seperate-bill-line {
    border-top: 1px solid $border-color;
    margin: 12px 0;
  }

  .rejoin-class-button {
    background-color: #50ca33 !important;
    color: $black-text-color !important;
    width: 150px;
    &:hover {
      border: 1px solid #50ca33;
      background-color: transparent;
    }
  }
  .evaluation-lesson-button {
    width: 175px;
  }
}

.left-sidebar {
  width: 100%;
  position: static;
  margin-bottom: 15px;
  background-color: $white-background;
  top: calc(60px + #{$box-gap});
  z-index: 500;
  box-shadow: 0 3px 8px 0 $color-light-box-shadow;
  transition: all 0.8s;
  -webkit-transition: all 0.8s;

  &+.right-content {
    width: 100%;
    margin-left: 0;
  }

  @media (min-width: $md-lower) {
    & {
      box-shadow: none;
      position: fixed;
      width: 20%;
      margin-bottom: 0;
      background-color: transparent;
      border: none;
    }
    &+.right-content {
      margin-left: calc(0.20 * 100vw + #{$box-gap});
      width: calc(100% - 0.20 * 100vw - #{$box-gap});
    }
  }

  @media (min-width: $xl-lower) {
    & {
      width: 288px;
    }
    &+.right-content {
      margin-left: 303px;
      width: 837px;
    }
  }
}

.link-tag {
  cursor: pointer;
}

@media (min-width: $lg-lower) and (max-width: $xl-lower) {
  .course-fee-col, .num-lesson-col {
    display: none !important;
  }
}

@media (min-width: $md-lower) and (max-width: $lg-lower) {
  .course-fee-col, .num-lesson-col, .course-status-col {
    display: none !important;
  }
}

@media (min-width: 1440px) {
  .container {
    max-width: 1300px;
  }
}

.section-content-wrapper {
  margin: 0 60px;
  padding: 30px 0;
}

.student-comment {
  margin-bottom: 30px;
}

.comment-icon {
  position: absolute;
  top: 0;
  left: 0;
}

.section-view-icon {
  margin-right: 10px;
  margin-top: 3px;
}

.active-link {
  color: #007791;
  cursor: pointer;
}

.save-comment {
  width: 150px;
}