.leftPanel {
  width: 267px;
  max-width: 267px;
  min-width: 267px;
  position: fixed;
  top: 60px;
  height: 100%;
}

@media (max-width: 830px) {
  .leftPanel {
    width: 85px;
    max-width: 85px;
    min-width: 85px;
  }
}