@import "../../../../styles/global_style.scss";

@media (min-width: $md-lower) {
  .right-content {
    position: relative;
    top: -198px;
    z-index: 0;
    margin-left: calc(0.205 * 100vw + #{$box-gap});
    width: calc(100% - 0.205 * 100vw - #{$box-gap});
  }
  .course-detail-header-scrolled + .course-detail-main .right-content {
    top: -104px;
  }
}

@media (max-width: $sm-upper) {
  .right-content {
    width: 100%;
  }
}


.content-wrapper {
  background-color: #fff;
  padding: $box-gap;
  border: 1px solid $border-color;
  box-shadow: 0 3px 8px 0 $color-light-box-shadow;

  .section-title:after {
    content: '';
  }
}

.detail-content-wrapper {
  margin-bottom: 35px;
}

.course-detail-section:not(:last-child) {
    margin-bottom: 30px;
    border-bottom: 1px solid #E5E5E5;
    padding-bottom: 30px;
}

.section-title {
  margin: 0 !important;
}