.content-wrapper {
  padding-top: 40px;
  padding-bottom: 40px;
}

.detail-content-wrapper {
  margin-top: -10px;
  margin-bottom: 35px;
}

.course-detail-section:not(:last-child) {
    margin-bottom: 30px;
    border-bottom: 1px solid #E5E5E5;
    padding-bottom: 30px;
}

.section-title {
  margin: 0 !important;
}