@import "../../../../styles/global_style";
.course-lession-wrapper-2 {
  margin-bottom: -10px;
  border-top: 1px solid $border-color;
  border-right: 1px solid $border-color;
  border-left: 1px solid $border-color;
}

.card {
  border: none;
}
