@import "../../../../styles/global_style";
#course-detail-intro {
  .full-width {
    width: 100%;
  }
}

.course-detail-section {
  .course-about-content {
    position: relative;
  }

  .course-des-view-more-btn {
    color: $color-blue-dark;
    cursor: pointer;
    background: linear-gradient(hsla(0,0%,100%,0),hsla(0,0%,100%,.95), $white-background);
    bottom: 0;
    display: block;
    padding-top: 30px;
    position: absolute;
    width: 100%;
  }

  .course-des-view-more {
    height: 140px;
    overflow: hidden;
  }

  .course-des-view-less {
    height: auto;
  }
}

.course-intro {
  .listing-box {
    width: 225px;
    float: left;
    margin-bottom: 20px;
    background: $gray-background;
    -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.13);
    -moz-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.13);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.13);
    border: 3px solid $gray-background;

    h5 {
      line-height: 1;
      margin: 0;
      padding: 15px 20px;
      color: $md-color-pink;
    }

    ul.listing-box-list {
      padding: 0;
      list-style-type: none;
      margin-top: 0;
      margin-bottom: 0;
    }

    ul.listing-box-list li {
        border-top: 1px solid #EBEBEB;
        padding: 13px 23px;
        margin: 0 -3px;
    }
  }
}

.spacing-10 {
  letter-spacing: 1px;
}

.font700 {
  font-weight: 700 !important;
}

.font600 {
  font-weight: 600 !important;
}

ul.list-with-icon {
  margin-bottom: 25px;
}

@media (min-width: 768px) {
  .course-about-content {
    min-height: 200px;
    margin-left: 240px;
    padding-left: 15px;
  }

  .course-about-heading {
    margin-left: 240px;
  }
}

@media only screen and (max-width: 991px) {
  .course-about-heading,
  .course-about-content {
    margin-left: 0;
  }

  .course-intro {
   .listing-box {
      width: 100%;
      margin-right: 0;
      margin-bottom: 30px
    }
  }
}
