@import "../../../../styles/global_style.scss";

@media (min-width: $md-lower) {
  .course-detail-main {
    width: 100%;
    position: relative;
    top: 200px;
    .container {
      display: flex;
    }
  }
}