body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:972px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u761_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:974px;
  height:74px;
  background:inherit;
  background-color:rgba(1, 81, 176, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u761 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:0px;
  width:974px;
  height:74px;
}
#u761_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u762 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:17px;
  width:310px;
  height:30px;
}
#u762_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:30px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u763 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:30px;
}
#u764_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u764 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  font-size:14px;
  color:#FFFFFF;
}
#u764_img.mouseOver {
}
#u764.mouseOver {
}
#u764_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u765_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u765 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:0px;
  width:110px;
  height:30px;
  font-size:14px;
  color:#FFFFFF;
}
#u765_img.mouseOver {
}
#u765.mouseOver {
}
#u765_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:106px;
  word-wrap:break-word;
}
#u766_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u766 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:0px;
  width:100px;
  height:30px;
  font-size:14px;
  color:#FFFFFF;
}
#u766_img.mouseOver {
}
#u766.mouseOver {
}
#u766_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u767 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:30px;
  width:200px;
  height:120px;
  visibility:hidden;
}
#u767_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:120px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u768 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:120px;
}
#u769_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u769 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  font-size:14px;
  text-align:left;
}
#u769_img.mouseOver {
}
#u769.mouseOver {
}
#u769_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:7px;
  width:183px;
  word-wrap:break-word;
}
#u770_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u770 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:200px;
  height:30px;
  font-size:14px;
  text-align:left;
}
#u770_img.mouseOver {
}
#u770.mouseOver {
}
#u770_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:7px;
  width:183px;
  word-wrap:break-word;
}
#u771_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u771 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:200px;
  height:30px;
  font-size:14px;
  text-align:left;
}
#u771_img.mouseOver {
}
#u771.mouseOver {
}
#u771_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:7px;
  width:183px;
  word-wrap:break-word;
}
#u772_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u772 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:90px;
  width:200px;
  height:30px;
  font-size:14px;
  text-align:left;
}
#u772_img.mouseOver {
}
#u772.mouseOver {
}
#u772_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:7px;
  width:183px;
  word-wrap:break-word;
}
#u773 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:0px;
  width:220px;
  height:155px;
  visibility:hidden;
}
#u773_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:155px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u774 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:155px;
}
#u775_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:30px;
}
#u775 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:30px;
  text-align:left;
}
#u775_img.mouseOver {
}
#u775.mouseOver {
}
#u775_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:8px;
  width:203px;
  word-wrap:break-word;
}
#u776_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:30px;
}
#u776 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:220px;
  height:30px;
  text-align:left;
}
#u776_img.mouseOver {
}
#u776.mouseOver {
}
#u776_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:8px;
  width:203px;
  word-wrap:break-word;
}
#u777_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:30px;
}
#u777 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:220px;
  height:30px;
  text-align:left;
}
#u777_img.mouseOver {
}
#u777.mouseOver {
}
#u777_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:8px;
  width:203px;
  word-wrap:break-word;
}
#u778_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:30px;
}
#u778 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:90px;
  width:220px;
  height:30px;
  text-align:left;
}
#u778_img.mouseOver {
}
#u778.mouseOver {
}
#u778_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:8px;
  width:203px;
  word-wrap:break-word;
}
#u779_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:35px;
}
#u779 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:220px;
  height:35px;
  font-size:14px;
  text-align:left;
}
#u779_img.mouseOver {
}
#u779.mouseOver {
}
#u779_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:10px;
  width:203px;
  word-wrap:break-word;
}
#u780_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:50px;
}
#u780 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:6px;
  width:155px;
  height:50px;
}
#u780_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u781_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:973px;
  height:1206px;
  background:inherit;
  background-color:rgba(244, 245, 249, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u781 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:74px;
  width:973px;
  height:1206px;
}
#u781_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u782_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:451px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(229, 229, 229, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u782 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:205px;
  width:283px;
  height:451px;
}
#u782_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u783_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:642px;
  height:789px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(229, 229, 229, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u783 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:205px;
  width:642px;
  height:789px;
}
#u783_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u784_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:76px;
}
#u784 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:92px;
  width:78px;
  height:76px;
}
#u784_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u785_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u785 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:104px;
  width:157px;
  height:16px;
}
#u785_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  white-space:nowrap;
}
#u786_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u786 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:130px;
  width:89px;
  height:16px;
}
#u786_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u787_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-ItalicMT', 'Arial Italic', 'Arial';
  font-weight:400;
  font-style:italic;
  font-size:12px;
}
#u787 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:178px;
  width:164px;
  height:14px;
  font-family:'Arial-ItalicMT', 'Arial Italic', 'Arial';
  font-weight:400;
  font-style:italic;
  font-size:12px;
}
#u787_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  white-space:nowrap;
}
#u788_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#534051;
  text-align:left;
}
#u788 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:225px;
  width:181px;
  height:30px;
  font-size:18px;
  color:#534051;
  text-align:left;
}
#u788_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:4px;
  width:159px;
  word-wrap:break-word;
}
#u789_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#0151B0;
  text-align:left;
}
#u789 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:265px;
  width:181px;
  height:30px;
  font-size:18px;
  color:#0151B0;
  text-align:left;
}
#u789_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:4px;
  width:159px;
  word-wrap:break-word;
}
#u790_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#534051;
  text-align:left;
}
#u790 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:306px;
  width:181px;
  height:30px;
  font-size:18px;
  color:#534051;
  text-align:left;
}
#u790_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:4px;
  width:159px;
  word-wrap:break-word;
}
#u791_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#534051;
  text-align:left;
}
#u791 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:347px;
  width:181px;
  height:30px;
  font-size:18px;
  color:#534051;
  text-align:left;
}
#u791_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:4px;
  width:159px;
  word-wrap:break-word;
}
#u792_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#534051;
  text-align:left;
}
#u792 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:388px;
  width:181px;
  height:30px;
  font-size:18px;
  color:#534051;
  text-align:left;
}
#u792_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:4px;
  width:159px;
  word-wrap:break-word;
}
#u793_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#534051;
  text-align:left;
}
#u793 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:430px;
  width:181px;
  height:30px;
  font-size:18px;
  color:#534051;
  text-align:left;
}
#u793_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:4px;
  width:159px;
  word-wrap:break-word;
}
#u794_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u794 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:228px;
  width:20px;
  height:20px;
}
#u794_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u795_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u795 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:263px;
  width:24px;
  height:24px;
  color:#0151B0;
}
#u795_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u796_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:24px;
}
#u796 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:390px;
  width:12px;
  height:24px;
}
#u796_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u797_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:20px;
}
#u797 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:433px;
  width:24px;
  height:20px;
}
#u797_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u798_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:24px;
}
#u798 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:350px;
  width:18px;
  height:24px;
}
#u798_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u799_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:16px;
}
#u799 {
  border-width:0px;
  position:absolute;
  left:281px;
  top:272px;
  width:8px;
  height:16px;
  color:#0151B0;
}
#u799_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u800_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:364px;
  background:inherit;
  background-color:rgba(244, 245, 249, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u800 {
  border-width:0px;
  position:absolute;
  left:356px;
  top:265px;
  width:280px;
  height:364px;
}
#u800_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u801_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:222px;
}
#u801 {
  border-width:0px;
  position:absolute;
  left:356px;
  top:265px;
  width:280px;
  height:222px;
}
#u801_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u802_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#169BD5;
}
#u802 {
  border-width:0px;
  position:absolute;
  left:366px;
  top:505px;
  width:220px;
  height:18px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#169BD5;
}
#u802_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  white-space:nowrap;
}
#u803_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#9B9B9B;
}
#u803 {
  border-width:0px;
  position:absolute;
  left:366px;
  top:533px;
  width:64px;
  height:14px;
  font-size:12px;
  color:#9B9B9B;
}
#u803_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
#u804_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#9B9B9B;
}
#u804 {
  border-width:0px;
  position:absolute;
  left:452px;
  top:533px;
  width:125px;
  height:14px;
  font-size:12px;
  color:#9B9B9B;
}
#u804_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  white-space:nowrap;
}
#u805_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:32px;
  background:inherit;
  background-color:rgba(1, 2, 3, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u805 {
  border-width:0px;
  position:absolute;
  left:356px;
  top:455px;
  width:280px;
  height:32px;
  opacity:0.7;
}
#u805_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u806_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#FFFFFF;
}
#u806 {
  border-width:0px;
  position:absolute;
  left:548px;
  top:465px;
  width:78px;
  height:12px;
  font-size:11px;
  color:#FFFFFF;
}
#u806_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u807_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u807 {
  border-width:0px;
  position:absolute;
  left:366px;
  top:558px;
  width:60px;
  height:60px;
}
#u807_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u808_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u808 {
  border-width:0px;
  position:absolute;
  left:446px;
  top:580px;
  width:118px;
  height:16px;
}
#u808_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u809_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:-webkit-linear-gradient(270deg, rgba(119, 199, 32, 1) 0%, rgba(119, 199, 32, 1) 100%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(119, 199, 32, 1) 0%, rgba(119, 199, 32, 1) 100%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:linear-gradient(180deg, rgba(119, 199, 32, 1) 0%, rgba(119, 199, 32, 1) 100%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#FFFFFF;
}
#u809 {
  border-width:0px;
  position:absolute;
  left:361px;
  top:272px;
  width:85px;
  height:20px;
  font-size:10px;
  color:#FFFFFF;
}
#u809_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:81px;
  word-wrap:break-word;
}
#u810_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:-webkit-linear-gradient(270deg, rgba(255, 51, 51, 1) 0%, rgba(255, 51, 51, 1) 100%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 51, 51, 1) 0%, rgba(255, 51, 51, 1) 100%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 51, 51, 1) 0%, rgba(255, 51, 51, 1) 100%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#FFFFFF;
}
#u810 {
  border-width:0px;
  position:absolute;
  left:544px;
  top:272px;
  width:85px;
  height:20px;
  font-size:10px;
  color:#FFFFFF;
}
#u810_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:81px;
  word-wrap:break-word;
}
