@import "../../../styles/global_style";

.about-us {
  background-color: $white-background;

  &__top {
    padding-bottom: 200px;
    background-color: $color-bg-neutral;

    .our-story {
      padding-top: 68px;
      text-align: center;
      h2 {
        color: $title-color;
      }
      &__description {
        width: 644px;
        margin: auto;
      }
    }
  }

  &__center {
    padding-bottom: 200px;

    .product-introduce {
      padding-top: 68px;
      text-align: center;

      h2 {
        color: $title-color;
      }

      &__description {
        width: 644px;
        margin: auto;
      }
    }
  }
}
