@import "../../../styles/global_style";

.about-us {
  padding-bottom: 60px;

  &__cover {
    text-align: center;
    height: 599px;
    img {
      width: 100%;
    }
  }

  &__top {
    position: relative;
    padding-bottom: 200px;

    .our-story {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;

      padding-top: 68px;

      h2 {
        color: $white-color;
      }

      text-align: center;

      &__description {
        width: 644px;
        margin: auto;
        color: $white-color;
      }
    }

    .about-us-card-wrap {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
    }

    .about-us-card {
      text-align: center;
      background: $white-background;
      display: inline-block;
      padding: 40px 20px;
      margin-bottom: 15px;
      -webkit-box-shadow: 0 0 12px -1px rgba(0, 0, 0, 0.5);
      -moz-box-shadow: 0 0 12px -1px rgba(0, 0, 0, 0.5);
      box-shadow: 0 0 12px -1px rgba(0, 0, 0, 0.5);

      &__icon, &__label {
        margin-bottom: 20px;
        font-weight: 700;
        font-size: 22px;
      }
    }
  }

  &__center {
    .our-teachers {
      padding-top: 68px;
      text-align: center;
    }
  }
}
