@import "../../../styles/global_style";

.course {
  &__popular {
    background-color: $body-color;
  }

  &__new-courses {
    &__header {
      color: #534051;
      p {
        font-weight: 400;
        font-style: normal;
        font-size: 30px;
      }
    }
  }

  &__how-to-learn {
    background-color: $body-color;
  }

  &__top-teacher {
    color: #534051;

    &__heading {
      background-color: #0151b0;
      color: #fff;
      font-size: 30px;
      margin-bottom: 0;

      h2 {
        padding-left: 36px;
        padding-top: 64px;
        height: 170px;
        color: #fff;
        font-size: 30px;
        margin-bottom: 0;
      }
    }

    &__body {
      background-color: $body-color;
      margin-right: 0;
      margin-left: 0;
      &__heading {
        padding: 30px 0 58px 64px;
      }
    }
  }

  &__teacher-guide {
    color: #534051;
    text-align: center;
    &__heading {
      margin-bottom: 65px;
      &__title {
        font-weight: 400;
        font-style: normal;
        font-size: 28px;
        padding-bottom: 5px;
      }
    }
    .item-group {
      &__heading-icon {
        .red-circle-icon {
          font-size: 25px;
          position: absolute;
          color: $md-color-pink;
        }

        .util-icon {
          border-width: 0;
          width: 100px;
          height: 100px;
          background: inherit;
          background-color: $body-color;
          border: none;
          border-radius: 80px;
          -moz-box-shadow: none;
          -webkit-box-shadow: none;
          box-shadow: none;
          display: inline-block;
        }
      }
    }
  }

  &__footer {
    text-align: center;
    a {
      display: inline-block;
    }
  }
}

.user {
  display: table;
  &__avatar-left {
    display: inline-block;
    img {
      border-width: 0;
      width: 100px;
      height: 100px;
      background: inherit;
      background-color: $body-color;
      border: none;
      border-radius: 80px;
      -moz-box-shadow: none;
      -webkit-box-shadow: none;
      box-shadow: none;
      display: inline-block;
    }
  }

  &__info-right {
    display: table-cell;
    vertical-align: middle;
  }

  &__fullname {
    font-weight: 400;
    font-size: 18px;
    color: #534051;
  }

  &__job {
    font-weight: 400;
    font-style: italic;
    font-size: 15px;
    color: $md-color-pink;
  }
}

.introduction-text-decoration {
  text-decoration: none;
  border-bottom: 2px solid $md-color-pink;
}

.title-highlight {
  color: $md-color-pink;
}
