@import "../../../../styles/global_style";
.dashboardItem {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #444;
  &.active, &:hover {
    background-color: $color-active-dashboard-menu;
    color: $md-color-pink;
    svg g use {
      fill: $md-color-pink;
    }
  }
}

@media (max-width: 830px) {
  .itemName {
    display: none;
  }
}