@import '/../../../styles/global_style.scss';
.introduceSection {
  background-color: transparent;
  position: relative;
  top: -65px;
  height: 0;
}

.headerSearchContainer {
  background-color: $white-color;
  padding: 20px;
  margin: 0 70px;
}

@media (max-width: 1024px) {
  .headerSearchContainer {
    margin: 0;
  }
}

.headerSearchIcon {
  margin-right: 10px;
}
.headerSearchIntroduce {
  font-size: 18px;
  color: $color-darker-text;
}

.contentSearchIntroduce {
  font-size: 14px;
  color: $color-text;
}
