@import "../../../../styles/global_style";

.uploadImageContainer {
  position: relative;
  margin-bottom: 15px;
  &.avatarUser {
    border-radius: 50%;
    overflow: hidden;
    &:hover {
      .previewImageContainer .editAvatarBtn .baseLineBtn.btnChangeUserAvatar {
        display: block;
      }
    }
  }
  .previewImageContainer {
    width: 100%;
    .editAvatarBtn {
      position: absolute;
      bottom: 0;
      width: 100%;
      display: table;
      .baseLineBtn {
        background: rgba(78,144,254,.7);
        bottom: 0;
        color: #fff;
        font-size: 9px;
        font-weight: bold;
        left: 0;
        position: absolute;
        padding: 7px 0;
        text-align: center;
        width: 100%;
        &.btnChangeUserAvatar {
          padding-bottom: 15px;
          display: none;
        }
      }
    }
  }
  .selectNewImage {
    border: 2px dashed #235074;
    border-radius: 10px;
    cursor: pointer;
    &:hover {
      border: 2px dashed $md-color-pink;
      .icon-upload .upload-image {
        fill: $md-color-pink;
      }
    }
  }
}
