.left-panel {
  width: 235px;
  max-width: 235px;
  min-width: 235px;
  position: fixed;
  top: 60px;
  height: 100%;
  z-index: 999;
  &.collapsed {
    width: 65px;
    max-width: 65px;
    min-width: 65px;
  }
}