@import "../../../../styles/global_style";
.dashboardItem {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: $secondary-color;
  height: 70px;
  &.active {
    background-color: $color-active-dashboard-menu;
    color: $md-color-pink;
    border-right: 4px solid $md-color-pink;
  }
}

@media (max-width: 830px) {
  .itemName {
    display: none;
  }
}