@import "../../../../styles/global_style";

.teacher-detail {
  &__header {
    border-bottom: 1px solid $border-color;
    &._fixed {
      position: fixed;
      left: 0;
      top: 60px;
      width: 100%;
      z-index: 999;
      background-color: $white-color;
    }

    @media only screen and (max-width: 767.98px) {
      &._fixed {
        position: relative;
        z-index: 999;
        background-color: $white-color;
      }
    }
  }

  &__content {
    @media only screen and (max-width: 767.98px) {
      margin-top: 15px;
    }

    &__background, &__courses, &__review {
      background-color: $white-background;
      padding: 15px;
      margin-bottom: 15px;
      box-shadow: 0 3px 8px 0 $color-light-box-shadow;
    }
  }

  &__more-info {
    border: 1px solid $border-color;
    border-radius: 5px;
  }

  h3 {
    font-size: 20px;
    color: $gray-dark;
  }

  h4 {
    font-size: 20px;
    margin: 0 0 15px;
    text-transform: uppercase;
  }

  .head-title {
    color: $dark-text-color;
    i {
      border-radius: 50%;
      display: inline-block;
      border: solid 1px $white-color;
      line-height: 36px;
      font-size: 30px;
      margin-right: 15px;
    }
    h4 {
      display: inline-block;
    }
  }

  .profile-list-item {
    margin: 0 0 20px;
    ul.the-list li {
      position: relative;
      padding-left: 10px;
      margin: 0 0 18px;
    }

    ul.the-list li:before {
      content: "- ";
      position: absolute;
      left: 0;
      top: -1px;
    }
  }

  .review-form-wrapper {
    background: $color-bg-gray-form;
    border: 1px solid $border-color;
    padding: 20px;
  }

  .teacher-detail-review-header {
    border-bottom: 1px solid $border-color;
    padding-bottom: 25px;
    margin-bottom: 25px;
  }

  .teacher-profile-sidebar {
    h3 {
      font-size: 18px;
    }
    padding-bottom: 15px;
    @media (max-width: $md-lower) {
      padding: 15px;
    }
  };

  .related-course-item {
    border-bottom: 1px solid #DDD;
    padding: 15px 0;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;

    .image {
      width: 75px;
      height: 75px;
      float: left;
    }

    .content {
      margin-left: 85px;
    }

    .price {
      font-size: 15px;
      display: block;
      color: $primary-text-color;
    }

    &:hover {
      border-color: $color-orange;
    }
  }

  .teacher-degree {
    img {
      height: 200px;
    }
  }
}

.teacher-detail-profile-header {
  padding-top: 25px;
  .profile-picture {
    img {
      border-radius: 50%;
      height: 116px;
      width: 116px;
      cursor: pointer;
      transition: all 0.2s ease-in-out;
      padding: 1px;
    }
  }

  .profile-summary {
    font-size: 12px;
    .profile-box {
      color: $gray-pale;
      margin-top: 10px;
      margin-bottom: 10px;

      h3 {
        color: $gray-dark;
        font-size: 18px;
      }

      .teacher-short-experience {
        font-style: italic;
      }

      .vertical-slash {
        &:before {
          content: ' | ';
        }
      }
    }

    .categories {
      display: flex;
      flex-wrap: wrap;
      .category {
        margin: 0 5px 5px 0;
        color: $color-orange;
        border: 1px solid $color-orange;
        font-size: 13px;
        letter-spacing: 1.5px;
        line-height: 1;
        display: inline-block;
        padding: 3px 8px;
        border-radius: 2px;
      }
    }

    .address-list {
      width: 50%;
      position: relative;
      padding-left: 30px;
      border-bottom: 1px dotted $border-color;
      padding-bottom: 7px;
      margin-bottom: 7px;

      i {
        position: absolute;
        top: 5px;
        left: 0;
      }
    }

    .see-more {
      color: $color-blue-dark;
      cursor: pointer;
    }

    @media only screen and (max-width: 991px) {
      .address-list {
        width: 70%;
      }
    }

    @media only screen and (max-width: 767.98px) {
      margin-top: 10px;
      h3 {
        font-size: 24px;
      }

      .address-list {
        width: 100%;
      }
    }
  }
}

ul.review-list > li:last-child {
  border-bottom: 0;
  padding-bottom: 0;
  margin-bottom: 0;
}

.review-content-list {
  .review-info {
    h6 {
      font-weight: 500;
      color: $color-black-one;
      line-height: 1.2;
      margin: 0 0 4px;
      padding-top: 3px;
      padding-right: 10px;
    }
  }
  > .review-info:last-child {
    border-bottom: 0;
    padding-bottom: 0;
    margin-bottom: 0;
  }

  .form-control:focus {
    border-color: $md-color-pink;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  }
}

.pager-wrappper {
  margin-top: 30px;
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;

  .btn.btn-hidden {
    display: none;
  }

  .btn.collapsed {
    display: block;
  }
}

.left-sidebar {
  top: calc(60px + 15px);
  overflow-y: scroll;
  height: calc(100vh - 60px - 15px);
}
