@import "../../../../styles/global_style";

.teacher-detail {
  font-size: 15px;
  background: $white-background;
  &__header {
    border-bottom: 1px solid $border-color;
    &._fixed {
      position: fixed;
      left: 0;
      top: 70px;
      width: 100%;
      z-index: 999;
      background-color: $white-color;
    }

    @media only screen and (max-width: 767.98px) {
      &._fixed {
        position: relative;
        z-index: 999;
        background-color: $white-color;
      }
    }
  }

  &__content {
    margin-top: 50px;
    @media only screen and (max-width: 767.98px) {
      margin-top: 50px;
    }

    &__background, &__courses {
      border: 1px solid $border-color;
      border-radius: 5px;
      padding: 30px 40px 40px;
    }

    &__review {
      margin-top: 50px;
      border: 1px solid $border-color;
      border-radius: 5px;
      padding: 30px 40px 40px;
    }
  }

  &__more-info {
    border: 1px solid $border-color;
    border-radius: 5px;
  }

  h3 {
    color: $md-color-pink;
    font-size: 25px;
  }

  h4 {
    font-size: 23px;
    margin: 0 0 15px;
    text-transform: uppercase;
  }

  h6 {
    font-weight: 700;
  }

  .icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: $color-bg-light-blue;
    text-align: center;
    color: $white-color;
    padding: 2px;
    margin: 0 0 18px;

    span {
      border-radius: 50%;
      display: block;
      border: 4px double $white-color;
      width: 100%;
      height: 100%;
      line-height: 36px;
      font-size: 18px;
    };
  }

  .profile-list-item {
    margin: 30px 0;
    ul.the-list li {
      position: relative;
      padding-left: 10px;
      margin: 0 0 18px;
    }

    ul.the-list li:before {
      content: "- ";
      position: absolute;
      left: 0;
      top: -1px;
    }
  }

  .review-form-wrapper {
    background: $color-bg-gray-form;
    border: 1px solid $border-color;
    padding: 20px;
  }

  .teacher-detail-review-header {
    border-bottom: 1px solid $border-color;
    padding-bottom: 25px;
    margin-bottom: 25px;
  }
}

.teacher-detail-profile-header {
  padding: 25px 0 25px 0;

  .profile-picture {
    img {
      height: 130px;
      width: 130px;
      cursor: pointer;
      transition: all 0.2s ease-in-out;
      border-radius: 3px;
      padding: 1px;
    }
  }

  .profile-summary {
    padding: 0 15px 0;
    display: flex;
    flex-direction: column;
    flex-basis: 100%;

    .categories {
      display: flex;
      flex-wrap: wrap;
      .category {
        color: $md-color-pink;
        border: 1px solid $md-color-pink;
        line-height: 1;
        padding: 3px 8px;
        border-radius: 2px;
        margin: 0 5px 5px 0;
        font-size: 12px;

        &:hover {
          background: $md-color-pink;
          color: $white-color;
        }
      }
    }

    .address-list {
      width: 50%;
      position: relative;
      padding-left: 30px;
      border-bottom: 1px dotted $border-color;
      padding-bottom: 7px;
      margin-bottom: 7px;

      i {
        position: absolute;
        top: 5px;
        left: 0;
      }
    }

    @media only screen and (max-width: 991px) {
      .address-list {
        width: 70%;
      }
    }

    @media only screen and (max-width: 767.98px) {
      margin-top: 10px;
      h3 {
        font-size: 24px;
      }

      .address-list {
        width: 100%;
      }
    }
  }
}

ul.review-list > li:last-child {
  border-bottom: 0;
  padding-bottom: 0;
  margin-bottom: 0;
}

.review-content-list {
  > .review-info:last-child {
    border-bottom: 0;
    padding-bottom: 0;
    margin-bottom: 0;
  }

  .form-control:focus {
    border-color: $md-color-pink;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  }
}

.pager-wrappper {
  margin-top: 30px;
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;

  .btn.btn-hidden {
    display: none;
  }

  .btn.collapsed {
    display: block;
  }
}
