@import "../../../../styles/global_style";

.mainSide {
  padding-top: 15px;
  width: 100%;
}

.rightSide {
  width: 288px;
  padding-left: 15px;
  padding-top: 15px;

  @media (max-width: $md-lower) {
    width: 20%;
  }

  @media (max-width: $lg-lower) {
    display: none;
  }
}

.hr {
  margin-top: 10px;
  margin-bottom: 10px;
}
