@import '../../../styles/global_style.scss';

.modalSuggestion {
  position: absolute;
  z-index: 9999;
  background-color: $white-background;
  max-height: 250px;
  overflow-y: auto;
  border-radius: 0 0 2px 2px;
  padding-bottom: 10px;
  width: 100%;
  top: 42px;
  left: 0;
}

.suggestionItemWrapper {
  border-top: 1px solid $color-border;
  background-color: $white-background;
  padding: 10px;
}

.suggestionItemWrapper:hover {
  background-color: $gray-background;
}

.suggestionLine {
  padding: 5px 20px;
  font-size: 14px;
  line-height: 1.45em;
  width: 100%;
  color: #000;
  cursor: pointer;
}

.suggestionGroup {
}

.filterBox {
  min-width: 100px;
  flex: 1 1 auto;
  position: relative;
  input {
    border: none;
  }
}

.itemAvatar {
  text-align: center;
  width: 65px;
  height: 65px;
}
