@import '/../../../styles/global_style.scss';

.modalSuggestion {
  position: absolute;
  z-index: 9999;
  background-color: $white-background;
  border: 1px solid $border-color;
  max-height: 250px;
  overflow-y: auto;
  border-radius: 0 0 2px 2px;
  padding-bottom: 10px;
  width: calc(100% - 15px);
  top: 30px;
}

.suggestionLine {
  padding: 5px 20px;
  font-size: 14px;
  line-height: 1.45em;
  color: #000;
  background-color: $white-background;
  cursor: pointer;
}

.suggestionLine:hover {
  background-color: $gray-background;
}

.suggestionGroup {
}

.filterBox {
  width: 100%;
  input {
    border: none;
  }
}