@import '/../../../../styles/global_style.scss';

.fullWidth {
  width: 100%;
}

.text {
  font-size: 12px;
    color: $dark-text-color;
}

.courseThumb {
  border: 1px solid #000;
}

.courseTitle {
  margin-top: 0;
  color: $green-text-color;
}
.courseTutorAvatar {
  text-align: center;
  img {
    width: 75px;
    margin: 0 auto;
  }
}
.courseTutorName {
  margin-top: -10px;
  text-align: center;
}