@import "../../../../styles/global_style";

.course-group {
  &__content {
    position: relative;
    display: block;
    &__img {
      color: $md-color-pink;
      width: 100%;
    }

    &__title {
      display: block;
      color: #fff;
      background-color: $md-color-pink;
      height: 46px;
      padding: 12px 16px;

      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }
}
