.fullWidth {
	width: 100%;
}

.text {
	font-size: 12px;
    color: #9B9B9B;
}

.courseThumb {
	border: 1px solid #000;
}

.courseTitle {
	margin-top: 0;
	color: #169BD5;
}
.courseTutorAvatar {
	text-align: center;
	img {
		width: 75px;
		margin: 0 auto;
	}
}
.courseTutorName {
	margin-top: -10px;
	text-align: center;
}