@import '/../../../styles/global_style.scss';

.firstFilterContainer {
  position: absolute;
  top: 55px;
  left: 0;
  border: 1px solid rgba(48, 51, 57, 0.1);
  background-color: rgb(255, 255, 255);
  background-clip: padding-box;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  z-index: 9999;
}

.filterContainer {
  position: absolute;
  top: 55px;
  right: 0;
  border: 1px solid rgba(48, 51, 57, 0.1);
  background-color: rgb(255, 255, 255);
  background-clip: padding-box;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  z-index: 9999;
}

.filterOption {
  cursor: pointer;
}

.filterHeader {
  padding: 14px;
  padding-right: 0;
  cursor: pointer;
}

.filterInput {
  padding: 10px 20px;
}

.optionContainer {
  padding: 14px 28px 6px 28px;
}

.filterOptionContainer {
  white-space: nowrap;
}

.optionItem {

}

.groupOptionContainer {
  margin: 0 -28px;
  .groupTitle {
    padding: 0 10px 10px 10px;
    font-weight: 700;
  }
  .groupOptionHeader {
    width: 100%;
    padding: 10px;
    background-color: #f4f5f9;
    font-weight: 700;
  }
  .groupOptionList {
    width: 100%;
    padding: 10px 20px;
  }
}
