@import '/../../../styles/global_style.scss';

.firstFilterContainer {
  position: absolute;
  top: 45px;
  left: 10px;
  border: 1px solid rgba(48, 51, 57, 0.15);
  z-index: 9999;
  background-color: $white-background;
}

.filterContainer {
  position: absolute;
  top: 45px;
  right: 10px;
  border: 1px solid rgba(48, 51, 57, 0.15);
  z-index: 9999;
  background-color: $white-background;
}

.filterOption {
  cursor: pointer;
}

.filterHeader {
  padding: 14px;
}

.filterInput {
  padding: 10px 20px;
}

.optionContainer {
  padding: 10px 0;
}

.filterOptionContainer {
  position: relative;
  white-space: nowrap;
}
